@using Abp.Application.Services.Dto
@using BBK.SaaS.Authorization
@using BBK.SaaS.Web.Areas.App.Startup
@using BBK.SaaS.Web.Areas.Profile.Models.UsersType;

@model UsersTypeViewModel
@{
	ViewBag.CurrentPageName = AppPageNames.Administrators.Users;
	ViewBag.PageTitle = @L("Users");
	ViewBag.PageDescription = @L("UsersHeaderInfo");
}

@section Styles
{
	<link rel="stylesheet" abp-href="/view-resources/App/Users/index.css" asp-append-version="true" />
}

@section Scripts
{
	@*<script abp-src="/view-resources/App/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
	<script abp-src="/view-resources/App/_Bundles/user-list.js" asp-append-version="true"></script>*@
	@*<script abp-src="/view-resources/App/UsersType0/_CreateOrEditModal.js" asp-append-version="true"></script>*@
	<script src="/view-resources/Profile/Users/IndexCandidates.js" asp-append-version="true"></script>
}

<div class="page-body">
	<!-- Container-fluid starts-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header" style="text-transform:none">
						<h4 >Người lao động</h4>
						<div class="card-header-right">
							<ul class="list-unstyled card-option">
								<li><i class="icon-more-alt"></i></li>
								<li><i class="icofont icofont-maximize full-card"></i></li>
								<li><i class="icofont icofont-minus minimize-card"></i></li>
							</ul>
						</div>
						<span >Quản lý tài khoản người lao động</span>
					</div>
					<div class="card-body common-flex">

						@if (IsGranted(AppPermissions.Pages_Administration_Users_Create))
						{
							<button id="CreateNewUserButton" class="btn btn-primary">
								<i class="fa fa-plus btn-md-icon"></i>
								<span class="d-none d-md-inline-block">
									Tạo mới
								</span>
							</button>
						}

					</div>
					<div class="card-body">
						<div class="form">
							<div class="row align-items-center mb-4">
								<div class="col-xl-12">
									<div class="mb-3 align-items-center">
										<div class="input-group">
											<input type="text" id="UsersTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
											<button id="GetUsersButton" class="btn btn-primary" type="submit">
												<i class="flaticon-search-1" aria-label="@L("Search")"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
								<div class="col-xl-6">
									<div>
										<label class="form-check form-check-custom form-check-solid">
											<input type="checkbox"
												   id="UsersTable_OnlyLockedUsers"
												   name="OnlyLockedUsersCheckbox"
												   class="form-check-input"
												   value="true">
											<span class="form-check-label">
												@L("OnlyLockedUsers")
											</span>
										</label>
									</div>
								</div>
								<div class="col-xl-12 text-end">
									<button id="RefreshUserListButton" class="btn btn-primary float-end">
										<i class="fa fa-sync btn-md-icon"></i>
										<span class="d-none d-md-inline-block">
											@L("Refresh")
										</span>
									</button>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col-xl-12">
									<span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
										<i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
									</span>
									<span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
										<i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
									</span>
								</div>
							</div>
						</div>

						<div class="">
							<table id="UsersTable" class="table align-middle table-row-dashed dataTable dtr-inline no-footer table-responsive theme-scrollbar user-datatable">
								<thead>
									<tr>
										<th>@(new FixedLocalizableString("Xử lý"))</th>
										<th>@L("UserName")</th>
										<th>@L("FirstName")</th>
										@* <th>@L("Surname")</th>
										<th>@L("Roles")</th> *@
										<th>@L("EmailAddress")</th>
										<th>@L("EmailConfirm")</th>
										<th>@L("Active")</th>
										<th>@L("CreationTime")</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>