@using Abp.Application.Services.Dto
@using BBK.SaaS.Authorization
@using BBK.SaaS.Authorization.Users;
@using BBK.SaaS.Web.Areas.App.Startup
@using BBK.SaaS;
@using BBK.SaaS.Web.Areas.Profile.Models.UsersType1

@model UsersType1ViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Administrators.Users;
    ViewBag.PageTitle = @L("Hồ sơ cá nhân");
    ViewBag.PageDescription = @L("UsersHeaderInfo");
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/App/Users/index.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/App/Users/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/view-resources/Profile/Candidate/JobAppCrud.min.css" />
}

@section Scripts
{
    <script src="~/view-resources/Profile/Users/CurriculumVitaeDetail.js" asp-append-version="true"></script>
        @* <script abp-src="/view-resources/Profile/Candidate/JobAppCrud.js" asp-append-version="true"></script> *@

}

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
                <nav>
                <ol class="breadcrumb justify-content-sm-start align-items-center mb-0" style="margin-bottom: 32px !important;">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item f-w-400 active"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item f-w-400 active">@Html.ActionLink("Người lao động", "CurriculumVitae", "UsersType1", new { Area = "Profile" }, null)</li>
                    <li class="breadcrumb-item f-w-400">Chi tiết người lao động</li>
                </ol>
            </nav>
            <div class="card">
                <div class="card-header ">
                    <ul class="simple-wrapper nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link txt-primary active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                <h4>Thông tin người dùng</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txt-primary" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <h4>Thông tin cơ bản</h4>
                            </a>
                        </li>
                    </ul>
                    <h4></h4>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="icon-more-alt"></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body card-wrapper">
                    <div class="card-body custom-input tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="col-md-12 col-lg-12 mt-2">
                                <form class="row g-3" name="UserInformationsForm" role="form" novalidate
                                      class="form-validation">
                                    <input type="hidden" name="UserId" value="@Model.User.Id" />
                                    <div class="row">
                                        <div class="profile-title d-flex align-items-center">
                                            @if (Model.User.Id > 0)
                                            {
                                                <img src="@Url.Action("GetProfilePictureByUser", "Profile", new {area = string.Empty})?userId=@(Model.User.Id)&&profilePictureId=@(Model.ProfilePictureId)" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content($"{ApplicationPath}Common/Images/default-profile-picture.png")" width="128"
                                                     height="128"
                                                     class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            <div class="flex-grow-1">
                                                @if (Model.User.Id > 0)
                                                {
                                                    <button type="button" class="btn-light btn-sm mb-3"
                                                            id="changeProfilePicture">
                                                        Cập nhật
                                                    </button>
                                                }
                                                <span>
                                                    Dạng file .jpg, .jpeg, .png, dung lượng <= 300KB và kích thước tối
                                                    thiểu 300x300 pixel.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">@L("UserName")</label>
                                        <input class="form-control" name="UserName" id="first-name" type="text" placeholder="@L("UserName")" value="@Model.User.UserName" required>
                                    </div>
                                    @* <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="Surname">@L("Surname")</label>
                                        <input class="form-control" id="Surname" name="Surname" type="text"
                                               value="@Model.User.Surname" placeholder="@L(" Surname")" required>
                                    </div> *@
                                    <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="Name">@L("Name")</label>
                                        <input class="form-control" id="Name" name="Name" type="text"
                                               value="@Model.User.Name" placeholder="@L(" Name")" required>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="PhoneNumber">@L("PhoneNumber")</label>
                                        <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text"
                                               value="@Model.User.PhoneNumber" placeholder="@L(" PhoneNumber")" required>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="EmailAddress">@L("EmailAddress")</label>
                                        <input class="form-control" id="EmailAddress" name="EmailAddress" type="text"
                                               value="@Model.User.EmailAddress" placeholder="@L(" EmailAddress")" required>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-light m-5" type="reset">Đóng</button>
                                        <button class="btn btn-primary m-5 updateCandidate" type="button">
                                            <i class="icon-save m-1"></i>Cập nhật tài khoản
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tabs">
                            <div class="col-md-12 col-lg-12 mt-2">
                                <input name="ProvinceId" hidden value="@ViewBag.Province">
                                <input name="DistrictId" hidden value="@ViewBag.District">
                                <form class="row g-3" name="CandidateInfoForm">
                                    <input hidden value="@Model.Candidate.Id" name="CandidateId">
                                    <div class="row">
                                        <div class="profile-title d-flex align-items-center">
                                            @if (Model.User.Id > 0)
                                            {
                                                <img src="@Url.Action("GetProfilePictureByUser", "Profile", new {area = string.Empty})?userId=@(Model.User.Id)&&profilePictureId=@(Model.ProfilePictureId)" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content($"{ApplicationPath}Common/Images/default-profile-picture.png")" width="128"
                                                     height="128"
                                                     class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            <div class="flex-grow-1">
                                                @if ((Model.User.Id > 0 && await PermissionChecker.IsGrantedAsync(AppPermissions.Pages_Administration_Users_ChangeProfilePicture)) || @Model.CanUpdateAvatar == true)
                                                {
                                                    <button type="button" class="btn-light btn-sm mb-3"
                                                            id="changeProfileAvatar">
                                                        Cập nhật
                                                    </button>
                                                }
                                                <span>
                                                    Dạng file .jpg, .jpeg, .png, dung lượng <= 300KB và kích thước tối
                                                    thiểu 300x300 pixel.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="Surname">@L("FullName")</label>
                                        <input class="form-control" id="Surname" name="Surname" type="text"
                                               value="@Model.User.Name" disabled placeholder="@L("Surname")">
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label class="form-label" for="DateOfBirth">@L("DateOfBirth")</label>
                                        <input class="form-control" type="date" id="DateOfBirth" name="DateOfBirth" asp-for="@Model.Candidate.DateOfBirth" required />
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <label class="form-label" for="Province">@L("Tỉnh/Thành phố")</label>
                                        <select class="form-control" id="Province" name="ProvinceId" type="text" required placeholder="@L("Province")"> </select>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <label class="form-label" for="District">@L("Xã/Huyện")</label>
                                        <select class="form-control" id="District" name="DistrictId" type="text" required placeholder="@L("District")"> </select>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <label class="form-label" for="Address">@L("Address")</label>
                                        <input class="form-control" id="Address" name="Address" type="text" value="@Model.Candidate.Address" placeholder="@L("Address")" required>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label class="form-label" for="PhoneNumber">@L("PhoneNumber")</label>
                                        <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text" disabled
                                               value="@Model.User.PhoneNumber" placeholder="@L(" PhoneNumber")">
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label class="form-label" for="EmailAddress">@L("EmailAddress")</label>
                                        <input class="form-control" id="EmailAddress" type="text" name="EmailAddress" value="@Model.User.EmailAddress" disabled placeholder="@L("EmailAddress")" required>
                                    </div>
                                    <div class="col-md-12 col-xl-6">
                                        <label class="form-label mb-3" for="Gender">@L("Gender")</label>
                                        <div class="form-check-size">
                                            <div>
                                                <input class="form-check-input" id="Male" type="radio" checked="@(Model?.Candidate.Gender == BBK.SaaS.Mdls.Profile.Candidates.Dto.GenderEnum.Male)" name="Gender" value="1" required>
                                                <label class="form-check-label mb-0" for="Male">@L("Male")</label>
                                            </div>
                                            <div>
                                                <input class="form-check-input" id="Female" type="radio" checked="@(Model?.Candidate.Gender == BBK.SaaS.Mdls.Profile.Candidates.Dto.GenderEnum.Female)" name="Gender" value="2" required>
                                                <label class="form-check-label mb-0" for="Female">@L("Female")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-6">
                                        <label class="form-label mb-3" for="Gender">@L("Marital")</label>
                                        <div class="form-check-size">
                                            <div>
                                                <input class="form-check-input" id="Single" type="radio" name="Marital" checked="@(Model?.Candidate.Marital == true)" value="true" required>
                                                <label class="form-check-label mb-0" for="Single">@L("Single")</label>
                                            </div>
                                            <div>
                                                <input class="form-check-input" id="Married" type="radio" name="Marital" checked="@(Model?.Candidate.Marital == false)" value="false" required>
                                                <label class="form-check-label mb-0" for="Married">@L("Married")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-light m-5" type="reset">@L("Cancel")</button>
                                        <button class="btn btn-primary m-5 updateCandidate" type="button"><i class="icon-save m-1"></i>@L("Save")</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card card-jobapplication">
                <div class="card-header ">
                    <h4>Hồ sơ ứng tuyển</h4>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-body card-wrapper">
                    <input hidden="" name="CandidateId" value="@Model.Candidate.Id">
                    <div class="card-body custom-input tab-content" id="JobApplication">
                        <input id="JobApplicationId" name="JobApplication" hidden value="@Model.JobApplication.JobApplication.Id"></input>
                        @await Html.PartialAsync("~/Areas/Profile/Views/JobApplication/ViewJobApp.cshtml")
                    </div>
                </div>
            </div>
            <div class="card" id="workexperience">
                <div class="card-header ">
                    <h4>@L("Kinh nghiệm làm việc")</h4>
                    <div class="card-header-right">
                        <a class="addworkexp" href="javascript:void(0)">
                            <span class="fa fa-plus-square"> Thêm </span>
                        </a>
                    </div>
                </div>
                <div class="card-body card-wrapper">
                    <div class="card-body custom-input tab-content">
                        <div class="col-md-12 col-lg-12 mt-2 partialview">
                            @* @await Html.PartialAsync("PartialViewWorkExp") *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="learningprocess">
                <div class="card-header ">
                    <h4>@L("Trình độ học vấn")</h4>
                    <div class="card-header-right">
                        <a class="addlearnprocess" href="javascript:void(0)">
                            <span class="fa fa-plus-square"> Thêm </span>
                        </a>
                    </div>
                </div>
                <div class="card-body card-wrapper">
                    <div class="card-body custom-input tab-content">
                        <div class="col-md-12 col-lg-12 mt-2 partialviewlearn">
                            @* @await Html.PartialAsync("PartialViewLearnProcess") *@
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="icon-hover-bottom p-fixed fa-fa-icon-show-div" style="display: block;">
        <div class="container-fluid">
            <div class="row">
                <div class="icon-popup justify-content-end">
                    <div class="icon-class">
                    </div>
                    <div class="icon-last icon-last">
                        <div class="form-inline">
                            <div class="form-group">
                              @*   <button class="btn btn-primary notification Deletecandidate" data-userId="@Model.Candidate.UserId">@L("Delete")</button> *@
                                <button class="btn btn-primary notification DeleteJobApplication" data-jobapp="@Model.JobApplication.JobApplication.Id">@L("Delete")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
