@using BBK.SaaS.Web.Areas.App.Startup
@using BBK.SaaS.Web.Areas.Profile.Models.Recruiters
@model RecruiterDetailViewModel
@section Scripts
{
    <script abp-src="/view-resources/Profile/Recruiters/PagingDetail.js" asp-append-version="true"></script>
}
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="user-profile">
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" value="@Model.Recruiter.UserId" id="recruiterUserId" />
                    <div class="card hovercard text-center">
                        @if (Model.Recruiter.ImageCoverUrl != null)
                        {
                            <div class="cardheader" style="background-image : url(@Model.Recruiter.ImageCoverUrl);  background-size: cover; background-position: 10%;height: 470px;"></div>
                        }
                        else
                        {
                            <div class="cardheader" style="background-image : url(../../themes/bg-profile.png);  background-size: cover; background-position: 10%;height: 470px;"></div>
                        }
                        <div class="user-image">
                            <div class="avatar">
                                @if (Model.Recruiter.AvatarUrl != null)
                                {
                                    <img src="@Model.Recruiter.AvatarUrl" alt="" />
                                }
                                else
                                {
                                    <img src="@Url.Content($"{ApplicationPath}Common/Images/default-profile-picture.png")" alt="" />
                                }
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-envelope"></i>   Email</h6><span>@Model.Recruiter.ContactEmail</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                @if (@Model.Recruiter.DateOfEstablishment.HasValue)
                                                {
                                                    <h6><i class="fa fa-calendar"></i>   Ngày thành lập</h6>

                                                    <span>@Model.Recruiter.DateOfEstablishment.Value.ToShortDateString()</span>
                                                }
                                                else
                                                {
                                                    <h6><i class="fa fa-calendar"></i>   Ngày thành lập</h6> <span></span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                                    <div class="user-designation">
                                        <div class="title"><a target="_blank" href="">@Model.Recruiter.CompanyName</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-phone"></i>   Số điện thoại</h6><span>@Model.Recruiter.ContactPhone</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-location-arrow"></i>   Địa chỉ</h6><span>@Model.Recruiter.Address, @Model.Recruiter.Village.DisplayName, @Model.Recruiter.District.DisplayName, @Model.Recruiter.Province.DisplayName.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row" style="margin-top: 32px;">
                        <div class="col-sm-12">
                            <h3 style="color:black;">
                                <i class="fa fa-user"
                                   style="Color:#7a70ba; margin-right: 8px;"></i><b>Giới thiệu công ty</b>
                            </h3>
                            <hr>
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="profile-img-style">
                                        <div class="row">
                                            <div class="col-xl-12;">
                                                <div class="job-description">
                                                    <p>
                                                        @Model.Recruiter.Description
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      @*   <div class="col-sm-12">
                            <h3 style="color:black;">
                                <i class="fa fa-building" style="Color:#7a70ba; margin-right: 8px;"></i>
                                <b>Tuyển dụng</b>
                            </h3>
                            <hr>
                            <div class="col-sm-12">
                                <div class="job-apps row">
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <div class="job-pagination">
                                        <ul class="pagination pagination-primary justify-content-center">
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

