@using Abp.Application.Services.Dto
@using BBK.SaaS.Authorization
@using BBK.SaaS.Authorization.Users;
@using BBK.SaaS.Web.Areas.App.Startup
@using BBK.SaaS.Web.Areas.Profile.Models.Recruiters;
@using BBK.SaaS;

@model RecruiterDetailViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Administrators.Users;
    ViewBag.PageTitle = "Quản lý  nhà tuyển dụng";
    ViewBag.PageDescription = "Thông tin nhà tuyển dụng";
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/App/Users/index.css" asp-append-version="true" />
}

@section Scripts
{
    <script abp-src="/view-resources/App/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
    @*<script abp-src="/view-resources/App/_Bundles/user-list.js" asp-append-version="true"></script>*@
    <script abp-src="/view-resources/Profile/Recruiters/RecruiterInfo.js" asp-append-version="true"></script>

}


<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="#UserInformationsTab" class="nav-link active" data-bs-toggle="tab" role="tab">
                                    @L("UserInformations")
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#Recruiter" data-bs-toggle="tab" role="tab" class="nav-link">
                                   Thông tin nhà tuyển dụng<span id="assigned-role-count" class="badge badge-success me-2"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane pt-3 active" id="UserInformationsTab" role="tabpanel">
                                <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                                    <input type="hidden" name="UserId" value="@Model.User.Id" />
                                    <div class="row">
                                        <div class="profile-title d-flex align-items-center">
                                            @if (Model.User.Id > 0)
                                            {
                                                <img src="@Url.Action("GetProfilePictureByUser", "Profile", new {area = string.Empty})?userId=@(Model.User.Id)&&profilePictureId=@(Model.ProfilePictureId)" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content($"{ApplicationPath}Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image m-r-10" />
                                            }
                                            <div class="flex-grow-1">
                                               @*  @if (Model.User.Id > 0 && await PermissionChecker.IsGrantedAsync(AppPermissions.Pages_Administration_Users_ChangeProfilePicture))
                                                {
                                                    <button type="button" class="btn-light btn-sm mb-3" id="changeProfilePicture">@L("Cập nhật")</button>
                                                } *@
                                                <button type="button" class="btn-light btn-sm mb-3" id="changeProfilePicture">@L("Cập nhật")</button>
                                                <span>Dạng file .jpg, .jpeg, .png, dung lượng <= 300KB và kích thước tối thiểu 300x300 pixel.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="UserName" class="form-label">@L("UserName")/@L("Email")</label>
                                            <input id="UserName" class="form-control" value="@Model.User.UserName" type="text" name="UserName" required maxlength="@BBK.SaaS.Authorization.Users.User.MaxNameLength" disabled="disabled">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="Name" class="form-label">@L("FirstName")</label>
                                            <input id="Name" class="form-control" value="@Model.User.Name" type="text" name="Name" required maxlength="@BBK.SaaS.Authorization.Users.User.MaxNameLength">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="Surname" class="form-label">@L("Surname")</label>
                                            <input id="Surname" type="text" name="Surname" class="form-control" value="@Model.User.Surname" required maxlength="@BBK.SaaS.Authorization.Users.User.MaxSurnameLength">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="PhoneNumber" class="form-label">@L("PhoneNumber") *</label>
                                            <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" required value="@Model.User.PhoneNumber" maxlength="@UserConsts.MaxPhoneNumberLength">
                                        </div>
                                      @*   <div class="col-12">
                                            <button class="btn btn-primary" type="submit">Submit form</button>
                                        </div> *@
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane pt-3" id="Recruiter" role="tabpanel">
                                <div class="row">

                                    <div class="col-md-12 col-lg-7">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Thông tin công ty</h4>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="icon-more-alt"></i></li>
                                                        <li><i class="view-html fa fa-code"></i></li>
                                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                        <li><i class="icofont icofont-error close-card"></i></li>
                                                    </ul>
                                                </div>
                                                @* <span>@L("UsersHeaderInfo")</span> *@
                                            </div>
                                            <div class="card-body">
                                                <form name="RecruiterInfoForm" role="form" novalidate class="form-validation">
                                                    <input type="hidden" name="Id" value="@Model.Recruiter.Id" />
                                                    <input type="hidden" name="UserId"  value="@Model.Recruiter.UserId" />
                                                    <input type="hidden" id="ProvinceId" value="@Model.Recruiter.ProvinceId"/>
                                                    <input type="hidden" id="DistrictId" value="@Model.Recruiter.DistrictId"/>
                                                    <input type="hidden" id="VillageId" value="@Model.Recruiter.VillageId" />
                                                    <input type="hidden" id="AvatarUrl"  value="@Model.Recruiter.AvatarUrl" />
                                                    <input type="hidden" id="ImageCoverUrl"  value="@Model.Recruiter.ImageCoverUrl" />
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="CompanyName" class="form-label">Tên công ty</label>
                                                            <input id="CompanyName" class="form-control" value="@Model.Recruiter.CompanyName" type="text" name="CompanyName" required maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="ContactName" class="form-label">Tên người liên hệ</label>
                                                            <input id="ContactName" class="form-control" value="@Model.Recruiter.ContactName" type="text" name="ContactName" required maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="ContactEmail" class="form-label">Email người liên hệ</label>
                                                            <input id="ContactEmail" class="form-control" value="@Model.Recruiter.ContactEmail" type="text" name="ContactEmail" maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="ContactPhone" class="form-label">Số điện thoại</label>
                                                            <input id="ContactPhone" class="form-control" value="@Model.Recruiter.ContactPhone" type="number" name="ContactPhone" required maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="HumanResSize" class="form-label">Quy mô nhân sự</label>
                                                            <select required class="form-control" id="HumanResSizeCat" name="HumanResSizeCatId" asp-for="@Model.Recruiter.HumanResSizeCatId" asp-items="ViewBag.QuyMo">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="TaxCode" class="form-label">Lĩnh vực hoạt động</label>
                                                            <select required class="form-control" id="SphereOfActivity" name="SphereOfActivityId" asp-for="@Model.Recruiter.SphereOfActivityId" asp-items="@ViewBag.listItemsKyThuat">
                                                                <option value="" selected disabled>Chọn lĩnh vực</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="Website" class="form-label">Website</label>
                                                            <input id="WebSite" class="form-control" value="@Model.Recruiter.WebSite" type="text" name="WebSite" maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="TaxCode" class="form-label">Mã số thuế</label>
                                                            <input id="TaxCode" class="form-control" value="@Model.Recruiter.TaxCode" type="text" name="TaxCode" maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="DateOfEstablishment" class="form-label">Ngày thành lập công ty</label>
                                                            <input id="DateOfEstablishment" class="form-control" asp-for="@Model.Recruiter.DateOfEstablishment" type="date" name="DateOfEstablishment">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="Address" class="form-label">Địa chỉ</label>
                                                            <input id="Address" class="form-control" value="@Model.Recruiter.Address" type="text" name="Address" required maxlength="@SaaSConsts.MaxCodeLineLength">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="HumanResSize" class="form-label">Tỉnh/Thành phố</label>
                                                            <select required class="form-control" id="Province" name="ProvinceId" asp-for="@Model.Recruiter.ProvinceId">
                                                                <option value="" selected disabled>Chọn Tinh/Thành phố</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="TaxCode" class="form-label">Quận/Huyện</label>
                                                            <select required class="form-control" id="District" name="DistrictId" data-select-id="@Model.Recruiter.DistrictId" disabled asp-for="@Model.Recruiter.DistrictId">
                                                                <option value="" selected disabled>Chọn Quận/Huyện</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="TaxCode" class="form-label">Phường/Xã</label>
                                                            <select required class="form-control" id="Village" name="VillageId" disabled data-select-id="@Model.Recruiter.VillageId" asp-for="@Model.Recruiter.VillageId">
                                                                <option value="" selected disabled>Chọn Phường/Xã</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mb-3">
                                                            <label for="Description" class="form-label">Mô tả công ty</label>
                                                            <textarea id="Description" class="form-control" rows="4" cols="50" name="Description" maxlength="@SaaSConsts.MaxDescription">@Model.Recruiter.Description</textarea>
                                                        </div>
                                                    </div>
                                                    @if (Model.Recruiter.Id.HasValue)
                                                    {
                                                        <div class="col-12">
                                                            <button class="btn btn-primary" id="btnUpdate">Cập nhật</button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-12">
                                                            <button class="btn btn-primary" id="btnCreate">Tạo mới</button>
                                                        </div>
                                                    }
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 col-lg-5">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>@L(" ")</h4>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="icon-more-alt"></i></li>
                                                        <li><i class="view-html fa fa-code"></i></li>
                                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                        <li><i class="icofont icofont-error close-card"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form name="UserInformationsForm" role="form" novalidate class="form-validation">
                                                    <input type="hidden" id="UserId" name="UserId" value="@AbpSession.UserId" />
                                                    <div class="row">
                                                        <span>Logo</span>
                                                        <div class="profile-title d-flex align-items-center">
                                                             @if (Model.Recruiter.AvatarUrl == null)
                                                            {
                                                                <div class="img-preview preview-lg" style="width: 256px; height: 144px;" id="image-cover-thumbnail">
                                                                    <img id="output" style="display: block; width: 264.463px; height: 150px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; ">
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="img-preview preview-lg" style="width: 256px; height: 144px;" id="image-cover-thumbnail">
                                                                    <img id="output" src="@Model.Recruiter.AvatarUrl" style="display: block; width: 264.463px; height: 150px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; ">
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="d-flex align-items-center m-t-10 fileUpload">
                                                            <p><input type="file" accept="image/*" id="file" class="file_img_avatar" style="display: none;"></p>
                                                                <a id="upload_image" class="btn btn-primary">
                                                                Cập nhật logo
                                                                </a>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-5">
                                                        <span>Ảnh bìa</span>
                                                          <div class="profile-title d-flex align-items-center">
                                                             @if (Model.Recruiter.ImageCoverUrl == null)
                                                            {
                                                                <div class="img-preview preview-lg" style="width: 400px; height: 200px;" id="image-cover">
                                                                    <img id="outputcover" style="display: block; width:400px; height: 200px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; ">
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="img-preview preview-lg" style="width: 400px; height: 200px;" id="image-cover">
                                                                    <img id="outputcover" src="@Model.Recruiter.ImageCoverUrl" style="display: block; width: 400px; height: 200px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; ">
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="d-flex align-items-center m-t-10 fileUpload">
                                                            <p><input type="file" accept="image/*" id="fileCover" class="file_img_cover" style="display: none;"></p>
                                                                <a id="upload_image_cover" class="btn btn-primary">
                                                                  Cập nhật ảnh bìa
                                                                </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>