@inject IJSRuntime JS
@inherits SaaSComponentBase
@using Abp.Collections.Extensions
@using BBK.SaaS.Models.NavigationMenu;

@if (HasUserInfo)
{
    <div class="d-flex mb-4 ms-2 me-2">
        <div class="me-2 align-self-center">
            <img src="@_userImage" class="gradient-red rounded-sm" width="43">
        </div>
        <div class="flex-grow-1 align-self-center ps-2">
            <h1 class="font-20 font-700 mb-0">@ApplicationContext.LoginInfo.User.Name</h1>

            @if (ApplicationContext.LoginInfo.User.UserType == Authorization.Users.UserTypeEnum.Type1)
            {
                <p class="mt-n2 mb-0 font-10 font-400">Nhà tuyển dụng </p>
            }
            else
            {
                <p class="mt-n2 mb-0 font-10 font-400">Ứng viên </p>

            }
        </div>
    </div>
}
else
{
    <div class="d-flex">
        <div class="me-2 align-self-center">
            <img src="images/avatars/5s.png" class="gradient-red rounded-sm" width="43">
        </div>
        <div class="flex-grow-1 align-self-center ps-2">
            <h1 class="font-20 font-700 mb-0">Họ và tên</h1>
            <p class="mt-n2 mb-0 font-10 font-400">Nhà tuyển dụng / Ứng viên</p>
        </div>
    </div>
}
@if (HasUserInfo)
{
    <div class="me-3 ms-3">
        @foreach (var item in MenuItems)
        {
            <div class="menu-item @(item.Items.Any() ? "menu-accordion": "")" @attributes="GetMenuAttributes(item)" style="width:100%">
                <!--begin:Menu link-->
                @if (item.Items.IsNullOrEmpty())
                {
                    <NavLink class="menu-link" href="@item.NavigationUrl">
                        <span class="menu-icon"> <i class="@item.Icon"></i> </span>
                        <span class="menu-title">@item.Title</span>
                    </NavLink>
                }
                else
                {
                    <span class="menu-link d-flex" style="width:100%">
                        <span class="me-auto text-uppercase font-900 font-11 opacity-30">@item.Title</span>
                        <span class="menu-arrow"></span>
                    </span>
                }
                <!--end:Menu link-->
                @if (item.Items.Any())
                {
                    <div class="menu-sub menu-sub-accordion list-group list-custom-small" style="width:100%">
                        @foreach (var subItem in item.Items)
                        {
                            <div class="menu-item align-items-center align-content-center me-3 ms-3">
                                <NavLink href="@subItem.NavigationUrl">
                                    <span>@subItem.Title</span>
                                </NavLink>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}
<!--begin:Menu item-->
<div class="me-3 ms-3 mt-4">
    <!--begin:Menu content-->
    <span class="text-uppercase font-900 font-11 opacity-30">@L("Sàn lao động")</span>
    <div class="list-group list-custom-small">
        <a href="/TrangChu">
            <i class="fa font-14 fa-home rounded-s bg-yellow-dark"></i>
            <span>Trang chủ</span>
        </a>
        <a href="/Filter">
            <i class="fa font-14 fa-search rounded-s bg-blue-dark"></i>
            <span>Tìm kiếm</span>
        </a>
        <a href="/NguoiTimViec">
            <i class="fa font-14 fa-user rounded-s bg-blue-dark"></i>
            <span>Người tìm việc</span>
        </a>
        <a href="/ViecTimNguoi">
            <i class="fa font-14 fa-briefcase rounded-s bg-brown-dark"></i>
            <span>Việc tìm người</span>
        </a>
        <a href="/TinTuc">
            <i class="fa font-14 fa-newspaper rounded-s bg-green-dark"></i>
            <span>Tin tức</span>
        </a>
        <a href="/LienHe" class="border-0">
            <i class="fa font-14 fa-question rounded-s bg-teal-dark"></i>
            <span>Hỏi đáp</span>
        </a>
        @if (HasUserInfo)
        {
            <a class="border-0">
                <i class="fa font-14 fa-sign-out bg-red-dark rounded-s"></i>
                <span>Đăng xuất</span>
            </a>
        }
        else
        {
            <a href="/Login" class="border-0">
                <i class="fa font-14 fa-sign-in bg-red-dark rounded-s"></i>
                <span>Đăng nhập</span>
            </a>

        }

    </div>
</div>
<!--end:Menu content-->
@code {
    private Dictionary<string, object> GetMenuAttributes(NavigationMenuItem item)
    {
        if (item.Items.Any())
        {
            return new() {
                { "data-kt-menu-trigger", "click" }
            };
        }

        return new() { };
    }
}