@using Abp.UI;
@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/ArticleDetail")]

    @if (_IsInitialication == true)
    {
                <!--Chi tiết bài viết-->
                <div class="post-detail">
                    <img class="mt-2 mb-3" src="@Model.PrimaryImageUrl" width="100%" height="250px" />
                    <h4>@Model.Title</h4>
                    <div class="user-img">
                        <div>
                            <div class="d-flex">
                                <div>
                                    <span class="tacgia">
                                        @Model.Author
                                    </span>
                                </div>
                                <div>
                                    <div class="d-flex">
                                        <span class="ml-4 mt-1" style="font-size: 0.8rem">@Model.ViewedCount lượt xem</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span style="font-size: 0.8rem"> @Model.LastModificationTime.ToString("dd/MM/yyyy HH:mm") </span>
                            </div>
                        </div>

                    </div>
                    <a class="view-detail btn btn-danger" @onclick="Introduce">
                        Giới thiệu
                    </a>
                    <h2 class="mt-4">@Model.MetaDescription</h2>
                    <div class="body-sumernote mt-3">
                        @htmlContent1
                    </div>
                </div>
                <!--Bài viết cùng chuyên mục-->
                <div class="card card-style">
                    <div class="content">
                        @* <a href="/TinTuc"> *@
                            <div class="d-flex">
                                <div class="align-self-center">
                                    <h1 class="font-22 text-uppercase">Tin cùng chuyên mục</h1>
                                </div>
                              @*   <div class="ms-auto align-self-center">
                                    <i class="fa fa-newspaper color-aqua-dark fa-2x mb-4 me-1"></i>
                                </div> *@
                            </div>
                        @* </a> *@
                        <div class="divider bg-green-dark mb-2 mt-2"></div>
                        <Virtualize @ref="ArticlesContainer" Context="articles" ItemsProvider="@LoadOtherArticles" ItemSize="100">

                            <a href="javascript:;" @onclick="(() => ViewArticle(articles))" class="pb-3">
                                <div class="d-flex">
                                    <div>
                                        <img src="@articles.PrimaryImageUrl" class="rounded-sm me-3" width="80">
                                    </div>
                                    <div class="w-100">

                                        <p class="mt-n2 mb-2">
                                            <strong>
                                                @articles.Title
                                            </strong>
                                        </p>
                                        <p>
                                            @articles.Author - @articles.LastModificationTime.ToShortDateString()<span class="d-block float-end color-blue-dark font-11">
                                                Chi
                                                tiết
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <div class="divider mb-2 mt-2"></div>
                        </Virtualize>
                        <a @onclick="GetArticleByCategory"
                           class="btn btn-full border-blue-dark rounded-sm color-blue-dark btn-sm font-700 text-uppercase mt-4">
                            Xem
                            thêm
                        </a>
                    </div>
                </div>
    }
    else
    {

    }

<IntroduceModal OnSave="RefeshList" @ref="introduceModal"></IntroduceModal>