@using Abp.UI;
@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/ArticleDetail")]

    @if (_IsInitialication == true)
{

    <!--Chi tiết bài viết-->
    <div class="card card-style">
            <img class="mt-2 mb-3" src="@Model.PrimaryImageUrl" width="100%" height="220px" />
        <div class="content mb-0">
            <div class="float-start">
                <h4 class="font-24 mb-0 mt-3">@Model.Title</h4>
            </div>
            <a href="javascript:;" class="float-end btn btn-xs bg-highlight rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11" @onclick="Introduce">
                Giới thiệu
            </a>
            <div class="clearfix"></div>
            <div class="divider mt-2 mb-3"></div>
            <div class="row">
                <div class="col-4">
                    <p class="text-start mb-0 pb-3"><i class="fa-regular fa-user color-blue-dark me-2"></i>@Model.Author</p>
                </div>
                <div class="col-4">
                    <p class="text-center mb-0 pb-3"><i class="fa-solid fa-eye me-2 color-yellow-dark"></i>@Model.ViewedCount lượt xem</p>
                </div>
                <div class="col-4">
                    <p class="text-end mb-0 pb-3"><i class="fa fa-calendar-alt me-2 color-green-dark"></i>@Model.LastModificationTime.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <p class="mb-3">@Model.ShortDesc</p>
        </div>
    </div>
    <div class="card card-style">
        <div class="content">
            @htmlContent1
        </div>
    </div>



    <!--Bài viết cùng chuyên mục-->
    <div class="card card-style">
        <div class="content">
            @* <a href="/TinTuc"> *@
            <div class="d-flex">
                <div class="align-self-center">
                    <h1 class="font-22 text-uppercase">Tin cùng chuyên mục</h1>
                </div>
                @*   <div class="ms-auto align-self-center">
            <i class="fa fa-newspaper color-aqua-dark fa-2x mb-4 me-1"></i>
            </div> *@
            </div>
            @* </a> *@
            <div class="divider bg-green-dark mb-2 mt-2"></div>
            <Virtualize @ref="ArticlesContainer" Context="articles" ItemsProvider="@LoadOtherArticles" ItemSize="100">

                <a href="javascript:;" @onclick="(() => ViewArticle(articles))" class="pb-3">
                    <div class="d-flex">
                        <div>
                            <img src="@articles.PrimaryImageUrl" class="rounded-sm me-3" width="80">
                        </div>
                        <div class="w-100">

                            <p class="mt-n2 mb-2">
                                <strong>
                                    @articles.Title
                                </strong>
                            </p>
                            <p>
                                @articles.Author - @articles.Modified.ToString("dd/MM/yyyy")<span class="d-block float-end color-blue-dark font-11">
                                    Chi
                                    tiết
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
                <div class="divider mb-2 mt-2"></div>
            </Virtualize>
            <a @onclick="GetArticleByCategory"
               class="btn btn-full border-blue-dark rounded-sm color-blue-dark btn-sm font-700 text-uppercase mt-4">
                Xem
                thêm
            </a>
        </div>
    </div>
}
else
{

}

<IntroduceModal OnSave="RefeshList" @ref="introduceModal"></IntroduceModal>