@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.TinTuc)]



<div class="page-content header-clear-medium">
    <div class="content mt-n4 search-box search-header bg-theme card-style me-3 ms-3 mb-2">
        <i class="fa fa-search" @onclick="RefeshList"></i>
        <input type="text" class="border-0" placeholder="Tìm kiếm thông tin" data-search @bind="_filterArticle.Filter">
        <a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a>
    </div>
    <div class="card card-style">
        <div class="content">
            <div class="d-flex" style=" overflow-x: auto;
    white-space: nowrap;">
                <Virtualize @ref="CmsContainer" Context="cmsCats" ItemsProvider="@LoadCategories">
                    <a href="javascript:;" @onclick="(() => GetArticleByCategory(cmsCats))">
                        <span class=" badge bg-green-dark text-uppercase font-12" style=" margin-left: 5px;">@cmsCats.DisplayName</span>
                    </a>
                </Virtualize>
            </div>


            <div class="mt-4">
                <Virtualize @ref="ArticlesContainer" Context="articles" ItemsProvider="@LoadArticles" ItemSize="100">
                    <a href="javascript:;" @onclick="(() => ViewArticle(articles))" class="pb-3">
                        <div class="d-flex">
                            <div>
                                <img src="@articles.PrimaryImageUrl" class="rounded-sm me-3" width="80">
                            </div>
                            <div class="w-100">

                                <p class="mt-n2 mb-2">
                                    <strong>
                                        @articles.Title
                                    </strong>
                                </p>
                                <p>
                                    @articles.Author - @articles.LastModificationTime<span class="d-block float-end color-blue-dark font-11">
                                        Chi
                                        tiết
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider mb-2 mt-2"></div>
                </Virtualize>
            </div>
        </div>
    </div>
</div>