@inherits ModalBase
<div id="@ModalId" class="menu menu-box-modal rounded-m" data-menu-width="330">
    <div class="content">
        <h1>@L("Giới thiệu")</h1>
        <h5> @L("Họ và tên")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.FullName">
            <em>(required)</em>
        </div>
        <h5>  @L("Email")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.Email">
            <em>(required)</em>
        </div> 
        <h5>@L("Số điện thoại")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.Phone">
            <em>(required)</em>
        </div>
        <h5>@L("Nội dung")</h5>
        <div class="input-style has-borders no-icon mb-4">
            <textarea id="form7" @bind="Model.Description"></textarea>
            <label for="form7" class="color-highlight">@L("Nội dung")</label>
            <em class="mt-n3">(required)</em>
        </div>
        <div mt-3>
            <p style="color:red; text-decoration:underline;">Chính sách giới thiệu</p>
        </div>
        <div class="d-flex justify-content-center">
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m border-blue-dark color-blue-dark bg-theme font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="Hide">Đóng</a>
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="CreateIntroduce">Gửi</a>
        </div>
    </div>
</div>
