@inherits ModalBase
<div id="@ModalId" class="menu menu-box-modal rounded-m" data-menu-width="330">

    <div class="content">
        <div class="d-flex">
            <h1>@L("Chi tiết lịch phỏng vấn")</h1>
            <div class="ms-auto">
                <a class="close-menu" @onclick="Hide"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <h5>   @L("Công việc mời phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" placeholder="@ApplicationRequest">
        </div>


        <h5>     @L("Hình thức phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.TypeInterview">
        </div>


        <h5>       @L("Địa chỉ phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.Address">
        </div>
        <h5>        @L("Vị trí phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" placeholder="@RanksName">
        </div>
        <h5>         @L("Thời gian phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.InterviewTime">
        </div>
        <h5>         @L("Lời nhắn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.Message">
        </div>
        <h5>         @L("Lời nhắn ứng viên")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.ReasonForRefusal">
        </div>

        <h5>         @L("Kết quả phỏng vấn")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            @if (Model.InterviewResultLetter == 1)
            {
                <input type="text" class="form-control validate-text" id="form1" placeholder="Đỗ" />

            }
            else if (Model.InterviewResultLetter == 2)
            {
                <input type="text" class="form-control validate-text" id="form1" placeholder="Trượt" />

            }
            else
            {
                <input type="text" class="form-control validate-text" id="form1" placeholder="" />

            }
        </div>
    </div>
        <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m border-blue-dark color-blue-dark bg-theme font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="Hide">Đóng</a>
</div>



