@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.DanhSachLichHen)]
<div class="content mt-2  search-box search-header bg-theme card-style me-3 ms-3 mb-2" style="background-color:#FFF !important; ">
    <i class="fa fa-search"></i>
    <input type="search" class="border-0" @bind="_filter.Search" placeholder="Tìm kiếm thông tin" @oninput="selectedValue">
</div>
@if (isError)
{
    <div class="card card-style">
        <div class="content">
            <div class="text-error">
                <h3>Không tìm thấy kết quả!!!</h3>
                <span class="mt-2">Thử tìm kiếm với từ khoá khác.</span>
            </div>
        </div>
    </div>
}
else
{
    <Virtualize @ref="makeAnAppointmentContainer" Context="appointment" ItemsProvider="@LoadListMakeAnAppointment" ItemSize="100">
        <div class="content bg-theme card-style me-3 ms-3 mb-2 p-3" style="background-color:#FFF !important; ">
            <div class="d-flex">
                <div>
                    <h5 class="font-700 text-uppercase">
                        Tên ứng viên:  @appointment.Candidate.Account.Name
                    </h5>
                    <div class="font-12">
                        <span class="company">
                            Vị trí :
                        </span>
                        @appointment.Ranks.DisplayName
                    </div>

                    <div class="font-12">
                        <span class="company">
                            Ngày hẹn:
                        </span>
                        @appointment.InterviewTime.ToString("dd/MM/yyyy")
                    </div>

                    <div class="font-12">
                        <span class="company">
                            Giờ hẹn:
                        </span>
                        @appointment.InterviewTime.ToString("hh:MM")
                    </div>
                    <div class="font-12">
                        <span class="company">
                            Hình thức:
                        </span>
                        @appointment.TypeInterview
                    </div>

                    @if (appointment.StatusOfCandidate == 1)
                    {
                        <div class="font-12">
                            <span class="name">
                                Trạng thái ứng viên:
                            </span>
                            <span class="wait">
                                Chờ phỏng vấn
                            </span>
                        </div>
                    }
                    else if (appointment.StatusOfCandidate == 2)
                    {
                        <div class="font-12">
                            <span class="name">
                                Trạng thái ứng viên:
                            </span>
                            <span class="accept">
                                Xác nhận phỏng vấn
                            </span>
                        </div>

                    }
                    else if (appointment.StatusOfCandidate == 3)
                    {
                        <div class="font-12">
                            <span class="name">
                                Trạng thái ứng viên:
                            </span>
                            <span class="refuse">
                                Từ chối phỏng vấn
                            </span>
                        </div>

                    }
                    else
                    {
                        <div class="font-12">
                            <span class="name">
                                Trạng thái ứng viên:
                            </span>
                            <span class="interviewed">
                                Đã phỏng vấn
                            </span>
                        </div>
                    }


                    @if (appointment.InterviewResultLetter == 1)
                    {
                        <div class="font-12">
                            <span class="name">
                                Kết quả:
                            </span>
                            <span class="pass">
                                Đỗ
                            </span>
                        </div>
                    }
                    else if (appointment.InterviewResultLetter == 2)
                    {
                        <div class="font-12">
                            <span class="name">
                                Kết quả:
                            </span>
                            <span class="fail">
                                Trượt
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="font-12">
                            <span class="name">
                                Kết quả:
                            </span>
                            <span class="no-point">
                                Chưa có kết quả
                            </span>
                        </div>

                    }

                </div>
                <div class="ms-auto">
                    @* <i class="fa-solid fa-caret-down float-end " @onclick="(() => DisPlayAction(appointment))"></i> *@
                    <a data-bs-toggle="dropdown" class="icon icon-m color-theme"><i class="fa fa-ellipsis-h float-end"></i></a>
                    @if (appointment.StatusOfCandidate == 1)
                    {
                        <div class="dropdown-menu border-0 bg-theme rounded-m shadow-xl px-2 mt-n4">
                            <div class="list-group list-custom-small mt-n2 mb-n2">
                                <a @onclick="(() => ViewAppointment(appointment))" data-menu="menu-download"><i class="fa font-14 fa-eye color-brown-dark opacity-60"></i>Xem<i class="fa"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown-menu border-0 bg-theme rounded-m shadow-xl px-2 mt-n4">
                            <div class="list-group list-custom-small mt-n2 mb-n2">
                                <a @onclick="(() => UpdatePost(appointment))" data-menu="menu-download"><i class="fa font-14 fa-pencil color-blue-dark opacity-60"></i>Cập nhật <i class="fa"></i></a>
                                <a @onclick="(() => ViewAppointment(appointment))" data-menu="menu-download"><i class="fa font-14 fa-eye color-brown-dark opacity-60"></i>Xem<i class="fa"></i></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </Virtualize>
}
<UpdateAppointmentModal OnSave="RefeshList" @ref="updateAppointmentModal"></UpdateAppointmentModal>
<ChiTietLichHen OnSave="RefeshList" @ref="chiTietLichHen"></ChiTietLichHen>