@inherits ModalBase
<div id="@ModalId" class="menu menu-box-modal rounded-m" data-menu-width="400">

    <div class="content">
        @if (_isInitialized)
        {
            <div class="d-flex">
                <h1>@L("Cập nhật tin tuyển dụng")</h1>
                <div class="ms-auto">
                    <a class="close-menu" @onclick="Hide"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <h4>Thông tin cơ bản</h4>
            <h5>  @L("Chức danh")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control validate-text" id="form1" @bind="recruitment.Title">
                <em>(bắt buộc)</em>
            </div>

            <h5> @L("Nghề nghiệp")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.JobCatUnitId">
                    @foreach (var item in CatFilterList.Career)
                    {
                        <option value="@item.Id">
                            @item.DisplayName
                        </option>

                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Hình thức làm việc")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.FormOfWork">
                    @foreach (var item in CatFilterList.FormOfWork)
                    {
                        <option value="@item.Id">
                            @item.DisplayName
                        </option>

                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Bằng cấp")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.Degree">
                    @foreach (var item in CatFilterList.Degree)
                    {
                        <option value="@item.Id">
                            @item.DisplayName
                        </option>

                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Số năm kinh nghiệm")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.Experience">
                    @foreach (var item in CatFilterList.Experience)
                    {

                        <option value="@item.Id">
                            @item.DisplayName
                        </option>


                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5>  @L("Cấp bậc")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.Rank">
                    @foreach (var item in CatFilterList.Rank)
                    {

                        <option value="@item.Id">
                            @item.DisplayName
                        </option>


                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5>  @L("Độ tuổi tối thiểu")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control validate-text" id="form1" @bind="recruitment.MinAge">
                <em>(required)</em>
            </div>
            <h5>  @L("Độ tuổi tối đa")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control validate-text" id="form1" @bind="recruitment.MaxAge">
                <em>(bắt buộc)</em>
            </div>
            <h5>  @L("Giới tính")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @bind="recruitment.GenderRequired">
                    <option value="0">Không yêu cầu</option>
                    <option value="1">Nam</option>
                    <option value="2">Nữ</option>
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5>   @L("Số lượng tuyển")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control validate-text" id="form1" @bind="recruitment.NumberOfRecruits">
                <em>(bắt buộc)</em>
            </div>
            <h5>@L("Thời hạn thử việc(tháng)")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control validate-text" id="form1" @bind="recruitment.ProbationPeriod">
                <em>(bắt buộc)</em>
            </div>
            <h5>@L("Hạn nộp hồ sơ")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="date" id="form1" @bind="recruitment.DeadlineSubmission">
                <em>(bắt buộc)</em>
            </div>
            <h4>Địa điểm làm việc</h4>
            <h5>@L("Tỉnh/Thành phố")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" @onchange="selectedValue">
                    <option value="0">Chọn Tỉnh/Thành phố</option>
                    @foreach (var item in ListProvince)
                    {
                        @if (item.Id == Model.ProvinceId)
                        {
                            <option selected value="@item.Id">
                                @item.DisplayName
                            </option>
                        }
                        else
                        {
                            <option value="@item.Id">
                                @item.DisplayName
                            </option>
                        }

                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Quận/Huyện")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <select required="required" class="form-control">
                    @if (ListDistrict != null && ListDistrict.Count > 0)
                    {
                        @foreach (var item in ListDistrict)
                        {
                            @if (item.Code == Model.DistrictCode)
                            {
                                <option selected value="@item.Code">
                                    @item.DisplayName
                                </option>
                            }
                            else
                            {
                                <option value="@item.Code">
                                    @item.DisplayName
                                </option>
                            }
                        }
                    }
                </select>
                <em>(bắt buộc)</em>
            </div>
            <h5>@L("Số nhà tên đường")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control" id="form1" @bind="recruitment.WorkAddress">
                <em>(bắt buộc)</em>
            </div>
            <h4>Mức lương & Kỹ năng</h4>
            <h5> @L("Mức lương tối thiểu (VNĐ)")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control" id="form1" @bind="recruitment.MinSalary">
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Mức lương tối đa (VNĐ)")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="number" class="form-control" id="form1" @bind="recruitment.MaxSalary">
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Kỹ năng cần thiết")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control" id="form1" @bind="recruitment.NecessarySkills">
            </div>
            <h4>Mô tả công việc</h4>
            <h5> @L("Mô tả công việc")</h5>
            <div class="input-style has-borders no-icon mb-4">
                <textarea id="form7" @bind="recruitment.JobDesc"></textarea>
                <label for="form7" class="color-highlight">@L("Mô tả công việc")</label>
                <em class="mt-n3">(bắt buộc)</em>
            </div>
            <h5>@L("Yêu cầu công việc")</h5>
            <div class="input-style has-borders no-icon mb-4">
                <textarea id="form8" @bind="recruitment.JobRequirementDesc"></textarea>
                <label for="form8" class="color-highlight">@L("Yêu cầu công việc")</label>
                <em class="mt-n3">(bắt buộc)</em>
            </div>
            <h5>@L("Quyền lợi")</h5>
            <div class="input-style has-borders no-icon mb-4">
                <textarea id="form9" @bind="recruitment.BenefitDesc"></textarea>
                <label for="form9" class="color-highlight">@L("Quyền lợi")</label>
                <em class="mt-n3">(bắt buộc)</em>
            </div>
            <h4>Thông tin người liên hệ</h4>
            <h5>@L("Họ và tên")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control validate-text" id="form1" @bind="recruitment.FullName">
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Email")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control validate-text" id="form1" @bind="recruitment.Email">
                <em>(bắt buộc)</em>
            </div>
            <h5> @L("Điện thoại")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control validate-text" id="form1" @bind="recruitment.PhoneNumber">
                <em>(bắt buộc)</em>
            </div>
            <h5>    @L("Điạ chỉ liên hệ")</h5>
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="text" class="form-control validate-text" id="form1" @bind="recruitment.Address">
                <em>(bắt buộc)</em>
            </div>
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="SaveJob">Lưu</a>
        }
    </div>
</div>
