@using Abp.Json
@using BBK.SaaS.Localization
@model BBK.SaaS.Web.Models.Account.ResetPasswordViewModel

@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>
    <script abp-src="/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}


<div class="card-body p-0">
    <div class="fancy-title title-border title-center mb-4">
        <h3 class="fw-bolder text-dark fs-4 fs-1-lg">@L("ChangePassword")</h3>
    </div>
    <form class="form pass-reset-form" asp-action="ResetPassword" method="post">
        <p>
            @L("PleaseEnterYourNewPassword")
        </p>
        <input type="hidden" name="c" value="@Model.c">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div class="mb-5">
            <input class="form-control not-dark" type="password" autocomplete="new-password" id="Password" placeholder="@L("Password")" name="Password" required/>
        </div>
        <div class="mb-5">
            <input class="form-control not-dark" type="password" autocomplete="new-password" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required/>
        </div>
        <div class="pb-lg-0 pb-5">
            <span>&nbsp;</span>
            <button type="submit" class="btn btn-danger m-0">@L("Submit")</button>
        </div>
    </form>
</div>
