@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.ViecTimNguoi)]

<div class="content mt-5"></div>
<!-- Tìm kiếm thông tin -->
<div class="content mt-n4  search-box search-header bg-theme card-style me-3 ms-3 mb-2" style="background-color:#FFF !important">
    <i class="fa fa-search" @* @onclick="RefeshList" *@></i>
    <input type="search" class="border-0" @bind="_filter.Filtered" placeholder="Tìm kiếm thông tin" @oninput="selectedValue">
    <a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a>
</div>
<div class="content mt-0">
    <a data-menu="menu-filter" @onclick="OpenFilter">
        <h4 class="text-uppercase color-highlight">
            <i class="fa font-14 fa-star color-yellow-dark px-2"></i>Bộ lọc nâng cao
        </h4>
    </a>
</div>

<FillterModal @ref="fillterModal" OnSave="RefeshListAfterFillter"></FillterModal>
@* @if (IsOpenFilter == true)
{
    <div id="menu-filter" class="menu menu-box-top menu-box-detached rounded-m menu-active" data-menu-height="420" style="display: block; height: 420px;">
        <div class="content">

        <div class="mb-4">
            <div class="d-flex">
                <h4>Tìm kiếm nâng cao</h4>
                <div class="ms-auto">
                    <a @onclick="CloseFilter" class="close-menu"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <p class="color-highlight">
                Lọc kết quả tìm kiếm của bạn
            </p>
        </div>
            <!-- Địa điểm-->
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <Virtualize @ref="GeoUnitContainer" Context="geounit" ItemsProvider="@LoadGeoUnit" ItemSize="1">
                    <select id="form5" @bind="_filter.WorkSiteId">
                        <option value="0" selected="">Tất cả địa điểm</option>
                        @foreach (var item in WorkSite)
                        {
                            <option value="@item.Id">@item.DisplayName</option>
                        }
                    </select>
                    <span><i class="fa fa-chevron-down"></i></span>
                    <i class="fa fa-check disabled valid color-green-dark"></i>
                    <i class="fa fa-check disabled invalid color-red-dark"></i>
                    <em></em>
                </Virtualize>
                <label for="form1" class="color-blue-dark font-600 text-uppercase">Địa điểm</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
            </div>
            <!-- Ngành nghề -->
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <Virtualize @ref="CatFilterListContainer" Context="cat" ItemsProvider="@LoadFilter" ItemSize="100">
                    <select id="form5" @bind="_filter.Job">
                        <option value="0" selected="">Tất cả ngành nghề</option>
                        @foreach (var item in Career)
                        {
                            <option value="@item.Id">
                                @item.DisplayName
                            </option>

                        }
                    </select>
                    <span><i class="fa fa-chevron-down"></i></span>
                    <i class="fa fa-check disabled valid color-green-dark"></i>
                    <i class="fa fa-check disabled invalid color-red-dark"></i>
                    <em></em>
                </Virtualize>
                <label for="form1" class="color-blue-dark font-600 text-uppercase">Ngành nghề</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
            </div>

            <!--Kinh nghiệm-->
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <Virtualize @ref="CatFilterListContainer" Context="cat" ItemsProvider="@LoadFilter" ItemSize="100">
                    <select id="form5" @bind="_filter.Job">
                        <option value="0" selected="">Tất cả kinh nghiệm</option>
                        @foreach (var item in Experience)
                        {
                            <option value="@item.Id">
                                @item.DisplayName
                            </option>

                        }
                    </select>
                    <span><i class="fa fa-chevron-down"></i></span>
                    <i class="fa fa-check disabled valid color-green-dark"></i>
                    <i class="fa fa-check disabled invalid color-red-dark"></i>
                    <em></em>
                </Virtualize>
                <label for="form1" class="color-blue-dark font-600 text-uppercase">Kinh nghiệm</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
            </div>

            <!--Mức lương tối thiểu-->
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="search" class="form-control validate-name" id="form1" placeholder="Nhập mức lương tối thiểu" @bind="_filter.Salary">
                <label for="form1" class="color-blue-dark font-600 text-uppercase">Mức lương tối thiểu</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
            </div>

            <!--Mức lương tối đa-->
            <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
                <input type="search" class="form-control validate-name" id="form1" placeholder="Nhập mức lương tối đa" @bind="_filter.SalaryMax">
                <label for="form1" class="color-blue-dark font-600 text-uppercase">Mức lương tối đa</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
            </div>
        <a @onclick="RefeshList" class=" close-menu btn btn-full btn-m bg-blue-dark rounded-m font-700 text-uppercase w-100 mb-3" style="width: 95%">
            Tìm kiếm
        </a>
    </div>
    </div>
}

@* @if (IsRecruitmentCount == true)
{
    <div class="content mt-0">
        <h4 class="font-700">Đã tìm thấy @RecruitmentCount kết quả </h4>
    </div>
} *@

        @if (isError == true)
{
    <div class="card card-style">
        <div class="content">
            <div class="text-error">
                <h3>Không tìm thấy kết quả!!!</h3>
                <span class="mt-2">Thử tìm kiếm với từ khoá khác.</span>
            </div>
        </div>
    </div>
}
else
{
    <Virtualize @ref="RecruitmentContainer" Context="recruitment" ItemsProvider="@LoadRecruitment" ItemSize="100">
        <div class="content bg-theme card-style me-3 ms-3 mb-2 p-3" style="background-color:#FFF !important; ">
                <a href="javascript:;" @onclick="(() => ViewRecruitment(recruitment))">
                    <div class="d-flex">
                        <div>
                            <img src="@recruitment.Recruiter.AvatarUrl" class="me-3 rounded-m" width="110">
                        </div>
                        <div>
                            <h5 class="font-700 text-uppercase">  @recruitment.Title</h5>
                            <h1 class="font-500 font-15 line-height-m">
                                @recruitment.Recruiter.CompanyName
                            </h1>
                            <span class="badge bg-green-dark text-uppercase font-12">
                                <i class="fa-solid fa-dollar-sign pe-1"></i>
                                @{
                                    var minSalaryInMillion = Math.Truncate(recruitment.MinSalary / 1000000);
                                    var maxSalaryInMillion = Math.Truncate(recruitment.MaxSalary / 1000000);
                                }
                                @minSalaryInMillion - @maxSalaryInMillion triệu
                            </span>
                            <span class="badge bg-blue-dark text-uppercase font-12">
                                <i class="fa-solid fa-city pe-1"></i>
                                @recruitment.WorkAddress
                            </span>
                            <span class="badge bg-gray-dark text-uppercase font-12">
                                <i class="fa-regular fa-star pe-1"></i>
                                @recruitment.Experiences.DisplayName
                            </span>
                        </div>
                    </div>
                </a>
            </div>
    </Virtualize>

}
@* <nav aria-label="pagination-demo">
    <ul class="pagination pagination- justify-content-center">
        <li class="page-item">
            <a class="page-link py-2 rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="page-item active"><a class="page-link py-2 rounded-xs bg-hightlight shadow-l border-0" href="#">1</a></li>
        <li class="page-item"><a class="page-link py-2 rounded-xs color-black bg-theme shadow-l border-0" href="#">2</a></li>
        <li class="page-item"><a class="page-link py-2 rounded-xs color-black bg-theme shadow-l border-0" href="#">3</a></li>
        <li class="page-item"><a class="page-link py-2 rounded-xs color-black bg-theme shadow-l border-0" href="#">4</a></li>
        <li class="page-item"><a class="page-link py-2 rounded-xs color-black bg-theme shadow-l border-0" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link py-2 rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="#"><i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
</nav>
 *@
