@using Abp.Localization
@using BBK.SaaS.Web.Areas.App.Startup

@section Scripts
{
    <script abp-src="/view-resources/App/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Profile/Recruitments/index.js" asp-append-version="true"></script>
}

@* @{
    ViewBag.CurrentPageName = AppPageNames.Administrators.Users;
    ViewBag.PageTitle = @L("Quản lý Tin tuyển dụng");
    ViewBag.PageDescription = @L("Tin đã đăng");
} *@
<section id="content">
	<div class="content-wrap pt-3"> 
    <!-- Container-fluid starts-->
    <div class="container">
        <div class="row">
               <nav>
                    <ol class="breadcrumb justify-content-sm-start align-items-center mb-0"
                        style="margin-bottom: 32px !important;">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                     height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item f-w-400 active">Danh sách tin tuyển dụng</li>
                    </ol>
                </nav>
             <div class="card">
                <div class="card-body">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-300"><i>Danh sách tin tuyển dụng</i></span>
                        </h2>
                    </div>
                    <div class="panel-container show mt-5">
                        <div class="panel-content">
                            <div class="card-wrapper border rounded-3 light-card checkbox-checked">
                            <div class="row mx-2 mt-3">
                                <div class="col-lg-3 col-md-4 mb-3">
                                    <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Chức danh"))" class="form-control" required>
                                </div>
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                    <select required class="form-select" id="Job" name="Job" asp-items="@ViewBag.listItemsKyThuat">
                                        <option value="0" selected>Nghề nghiệp</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                    <select class="form-select" id="FormOfWork" name="FormOfWork" asp-items="@ViewBag.listItemsHinhThucLV">
                                        <option value="0" selected>Hình thức làm việc</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                    <select class="form-select" id="Experience" name="Experience" asp-items="@ViewBag.listItemsKinhNghiem">
                                        <option value="0" selected >Tất cả kinh nghiệm</option>
                                    </select>
                                </div>
                               
                            </div>
                            <div class="row mx-2">
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                    <input type="number" id="NumberOfRecruits" name="NumberOfRecruits" placeholder="@(new FixedLocalizableString("Số lượng tuyển"))" class="form-control" required>
                                </div>
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                    <label for="Title" class="form-label">Hạn nộp hồ sơ : Từ ngày</label>
                                    <div class="form-outline datepicker-with-filter1">
                                        <input id="StartDay" type="date" name="StartDay"
                                           class="form-control" placeholder="Hạn nộp hồ sơ : Từ ngày" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 mb-3 mt-auto">
                                     <label for="Title" class="form-label">Đến ngày</label>
                                    <div class="form-outline datepicker-with-filter1">
                                        <input id="EndDay" type="date" name="EndDay" class="form-control" placeholder="Đến ngày" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 mb-3 mt-auto">
                                    <button class="btn btn-danger ml-auto waves-effect waves-themed" id="Search" type="button">@(new FixedLocalizableString("Tìm kiếm"))</button>
                                </div>
                            </div>
                            </div>
                      
                            <div class="form-row mt-5">
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <button id="CreateNewButtonxx" name="CreateNewButton" class="btn btn-sm btn-toolbar-full btn-danger ml-auto">
                                        <span class="fa fa-plus-square"></span>
                                    Đăng tin tuyển dụng
                                    </button>
                                     <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-danger ml-auto" disabled>
                                                <span class="fa fa-trash"></span>
                                    Xoá
                                     </button>
                                </div>
                            </div>
                            <!-- datatable start -->
                            <table id="RecruitmentTable" class="table table-bordered table-hover table-striped w-100">
                                <thead class="bg-primary-600">
                                    <tr>
                                        <th><input type="checkbox" name="select_all" data-value="1" id="example-select-all"></th>
                                        <th>STT</th>
                                        <th>Chức danh</th>
                                        <th>Nghề nghiệp</th>
                                        <th>Hình thức làm việc</th>
                                        <th>Kinh nghiệm</th>
                                        <th>Số lượng tuyển</th>
                                        <th>Hạn nộp hồ sơ</th>
                                        <th>Ẩn</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!-- datatable end -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>