@using Abp.Application.Services.Dto
@using BBK.SaaS
@using BBK.SaaS.Authorization
@using BBK.SaaS.Web.Areas.App.Models.Roles
@using BBK.SaaS.Web.Areas.App.Startup
@using BBK.SaaS.Web.Areas.Cms.Models.Articles

@model CreateArticleViewModel

@{
	//    ViewBag.CurrentPageName = AppPageNames.Administrators.Roles;
	//    ViewBag.PageTitle = @L("Roles");
	// ViewBag.PageDescription = @L("RolesHeaderInfo");
}

@section Styles
{
	<link rel="stylesheet" abp-href="/assets/summernote/summernote-lite.css" asp-append-version="true" />
	<link rel="stylesheet" abp-href="/view-resources/App/_Bundles/dropzone.css" asp-append-version="true" />
}

@section Scripts
{
	<script abp-src="/assets/summernote/summernote-lite.js" asp-append-version="true"></script>
	<script abp-src="/view-resources/Cms/Articles/Create.js" asp-append-version="true"></script>
	<script abp-src="/view-resources/App/_Bundles/dropzone.js" asp-append-version="true"></script>
}

<div class="page-body">
	<!-- Container-fluid starts-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div id="SettingsTabPanel" class="tabbable-line">
							<ul class="nav nav-tabs">
								<li class="nav-item" role="presentation">
									<a href="#SettingsGeneralTab" aria-expanded="true" class="nav-link active" data-bs-toggle="tab" role="tab">
										@(new FixedLocalizableString("Thông tin chung"))
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a href="#CreateTopicSEOTab" aria-expanded="true" class="nav-link" data-bs-toggle="tab" role="tab">
										@L("SEO")
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a href="#CreateTopicSharingTab" aria-expanded="true" class="nav-link" data-bs-toggle="tab" role="tab">
										@L("Sharing")
									</a>
								</li>
								<li class="nav-item" role="presentation">
									<a href="#CreateTopicAdvancedTab" aria-expanded="true" class="nav-link" data-bs-toggle="tab" role="tab">
										@L("Advanced")
									</a>
								</li>
							</ul>
						</div>
						<div class="tab-content pt-3">
							<div class="tab-pane active" id="SettingsGeneralTab">
								<form name="GeneralInfoForm">
									<div class="mb-3 form-group">
										<label for="Title" class="form-label">@(new FixedLocalizableString("Tiêu đề")) <span class="text-danger">*</span></label>
										<input id="Title" class="form-control" type="text" name="Title" required maxlength="@SaaSConsts.MaxShortDescLength">
									</div>

									@* <div class="mb-3">
										<label class="mb-2 form-label">@L("Ảnh đại diện") </label>
										<input type="hidden" id="PrimaryImageUrl" name="PrimaryImageUrl" />
										<div class="input-group">
											<div class="list-group m-r-10"><a class="list-group-item list-group-item-action list-light-info" href="#" id="PrimaryImage">Chưa có ảnh</a></div>
											<div class="d-flex align-items-center fileUpload">
												<input id="uploadPrimaryImg" name="uploadPrimaryImg[]" type="file" class="" accept="image/*" data-show-preview="false">
											</div>
										</div>
									</div> *@

									@* <div class="mb-3">
										<label class="mb-2 form-label">@L("Ảnh đại diện") </label>
										<input type="hidden" id="PrimaryImageUrl" name="PrimaryImageUrl" />
										<div class="list-group m-r-10"><a class="list-group-item list-group-item-action list-light-info" target="_blank" href="#" id="PrimaryImage">Chưa có ảnh</a></div>
										<button id="ChoseAvatarButton" type="button" class="btn btn-primary form-control">
											<i class="fa fa-save btn-md-icon"></i>
											<span class="d-none d-md-inline-block">
												@L("Thêm ảnh đại diện")
											</span>
										</button>
									</div> *@

									<div class="row">
										<div class="col-md-5">
											<div class="no-hint form-group">
												<label for="ShortDesc" class="form-label">@(new FixedLocalizableString("Ảnh đại diện")) @* @Model.Article.PrimaryImageUrl *@</label>
											</div>
											<div class="card">
												<div class="blog-box blog-grid text-center product-box">
													<div class="product-img">
														<img class="img-fluid preview-primaryimg" src="/themes/mofi/assets/images/blog/blog.jpg" alt="">
														<div class="product-hover">
															<button id="ChoseAvatarButton" type="button" class="btn btn-primary form-control">
																<i class="fa fa-save btn-md-icon"></i>
																<span class="d-none d-md-inline-block">
																	@(new FixedLocalizableString("Chọn ảnh đại diện"))
																</span>
															</button>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="col-md-7">
											<div class="mb-3 no-hint form-group">
												<label for="ShortDesc" class="form-label">@(new FixedLocalizableString("Tóm tắt")) <span class="text-danger">*</span></label>
												<textarea id="ShortDesc" type="text" rows="5" name="ShortDesc" class="form-control" value="" required maxlength="@SaaSConsts.MaxShortDescLength"></textarea>
											</div>

											<div class="mb-3 no-hint form-group">
												<label for="CmsCategory" class="form-label">@(new FixedLocalizableString("Chuyên mục tin tức")) <span class="text-danger">*</span></label>
												<select id="CmsCategory" name="CategoryId" required class="form-select select2">
													<option selected="selected"></option>
													@foreach (var category in Model.Categories)
													{
														<option value="@category.Id" selected="@(category.Id == Model.CategoryId)">
															@category.DisplayName
														</option>
													}
												</select>
											</div>

											<div class="mb-3 no-hint form-group">
												<label for="Author" class="form-label">@(new FixedLocalizableString("Tác giả")) <span class="text-danger">*</span></label>
												<input id="Author" type="text" name="Author" class="form-control" required maxlength="@SaaSConsts.MaxShortDescLength">
											</div>

										</div>
									</div>

									

									<div class="mb-3 no-hint form-group">
										<label for="Content" class="form-label">@(new FixedLocalizableString("Nội dung")) <span class="text-danger">*</span></label>
										<textarea id="Content" type="text" name="Content" class="form-control" required maxlength="@SaaSConsts.MaxDescription"></textarea>
									</div>

									

									

									<div class="mb-3 no-hint">
										<label for="Slug" class="form-label">@(new FixedLocalizableString("Đường dẫn thân thiện"))</label>
										<input id="Slug" type="text" name="Slug" class="form-control" maxlength="@SaaSConsts.MaxShortDescLength">
									</div>

									<div class="mb-3 no-hint">

										<label for="StartDate" class="form-label">@(new FixedLocalizableString("Ngày phát hành"))</label>
										<div class="input-group">
											<div class="input-group-text">
												<input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
											</div>
											<input id="StartDate" type="text" name="StartDate" class="form-control digits" disabled="disabled">
										</div>
									</div>

									<div class="mb-3 no-hint">
										<label for="EndDate" class="form-label">@(new FixedLocalizableString("Ngày ngừng phát hành"))</label>
										<div class="input-group">
											<div class="input-group-text">
												<input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
											</div>
											<input id="EndDate" type="text" name="EndDate" class="form-control digits" disabled="disabled">
										</div>
									</div>

									@* <div class="mb-3 no-hint">
										<label class="form-check form-check-custom form-check-solid">
											<input type="checkbox"
												   id="AllowComments"
												   name="AllowComments"
												   class="form-check-input"
												   value="true">
											<span class="form-check-label">
												@L("AllowComments")
											</span>
										</label>
									</div> *@

									<div class="mb-3 no-hint">
										<label class="form-check form-check-custom form-check-solid">
											<input type="checkbox"
												   id="Published"
												   name="Published"
												   class="form-check-input"
												   value="true">
											<span class="form-check-label">
												@(new FixedLocalizableString("Phát hành"))
											</span>
										</label>
									</div>
								</form>
							</div>
							<div class="tab-pane" id="CreateTopicSEOTab">
								<form id="SEOForm" name="SEOForm">
									<div class="mb-3">
										<label for="MetaTitle" class="form-label">@L("MetaTitle")</label>
										<input id="MetaTitle" class="form-control" type="text" name="MetaTitle" required maxlength="@SaaSConsts.MaxShortDescLength">
									</div>

									<div class="mb-3 no-hint">
										<label for="MetaDescription" class="form-label">@L("MetaDescription")</label>
										<textarea id="MetaDescription" type="text" name="MetaDescription" class="form-control" required maxlength="@SaaSConsts.MaxDescription"></textarea>
									</div>

									<div class="mb-3 no-hint">
										<label for="MetaKeywords" class="form-label">@L("MetaKeywords")</label>
										<input id="MetaKeywords" type="text" name="MetaKeywords" class="form-control" required maxlength="@SaaSConsts.MaxShortDescLength">
									</div>
								</form>
							</div>
							<div class="tab-pane" id="CreateTopicSharingTab">
								<form id="SharingForm" name="SharingForm">
									<div class="mb-3">
										<label for="OgTitle" class="form-label">@L("OgTitle")</label>
										<input id="OgTitle" class="form-control" type="text" name="OgTitle" required maxlength="@SaaSConsts.MaxShortDescLength">
									</div>

									<div class="mb-3 no-hint">
										<label for="OgDescription" class="form-label">@L("OgDescription")</label>
										<textarea id="OgDescription" type="text" name="OgDescription" class="form-control" required maxlength="@SaaSConsts.MaxDescription"></textarea>
									</div>

									<div class="mb-3 no-hint">
										<label for="OgImageUrl" class="form-label">@L("OgImageUrl")</label>
										<input id="OgImageUrl" type="text" name="OgImageUrl" class="form-control" required maxlength="@SaaSConsts.MaxShortDescLength">
										<div class="d-flex align-items-center m-t-10 fileUpload">
											<input id="uploadOgImage" name="uploadOgImage[]" type="file" class="" accept="image/*" data-show-preview="false">
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane" id="CreateTopicAdvancedTab"></div>
						</div>
					</div>
					<div class="card-footer">
						<button id="CreateNewButton" class="btn btn-primary">
							<i class="fa fa-save btn-md-icon"></i>
							<span class="d-none d-md-inline-block">
								@(new FixedLocalizableString("Tạo mới"))
							</span>
						</button>
						<button id="CreateAndContinueEdit" class="btn btn-primary">
							<i class="fa fa-save btn-md-icon"></i>
							<span class="d-none d-md-inline-block">
								@(new FixedLocalizableString("Tạo mới & tiếp tục cập nhật"))
							</span>
						</button>
						<button id="BackToList" class="btn btn-light">
							<i class="fa fa-arrow-left btn-md-icon"></i>
							<span class="d-none d-md-inline-block">
								@(new FixedLocalizableString("Danh sách"))
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>