@inherits ModalBase

<div id="@ModalId" class="menu menu-box-modal rounded-m" data-menu-width="330">
    <div class="content">
        <h1>@L("Tạo mới tin tuyển dụng")</h1>
        <h5>@L("Mật khẩu hiện tại")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="password" class="form-control validate-text" id="form1" @bind="ChangePasswordModel.CurrentPassword" @bind:event="oninput" placeholder="@L("Mật khẩu hiện tại")">
            <em>(bắt buộc)</em>
        </div>
        <h5>@L("Mật khẩu mới")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="password" class="form-control validate-text" id="form1" @bind="ChangePasswordModel.NewPassword" @bind:event="oninput" placeholder="@L("Mật khẩu mới")">
            <em>(bắt buộc)</em>
        </div>
        <h5>@L("Nhập lại mật khẩu mới")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="password" class="form-control validate-text" id="form1" @bind="ChangePasswordModel.NewPasswordRepeat" @bind:event="oninput" placeholder="@L("Nhập lại mật khẩu mới")">
            <em>(bắt buộc)</em>
        </div>
        <div class="d-flex justify-content-center">
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m border-blue-dark color-blue-dark bg-theme font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="Cancel">Hủy</a>
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mt-4 mb-4 me-2 ms-2" disabled="@ChangePasswordModel.IsChangePasswordDisabled" @onclick="Save">@L("Ok")</a>
        </div>
    </div>
</div>