@inherits ModalBase
<div class="modal fade" id="@ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded">
            <div class="modal-body scroll-y pt-10 pb-10">
                <div class="mb-13 text-center">
                    @if(IsEdit == true)
                    {
                    <h1 class="mb-3">@L("Cập nhật trình độ học vấn")</h1>

                    }
                    else
                    {
                        <h1 class="mb-3">@L("Tạo mới trình độ học vấn")</h1>

                    }
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("Tên trường học")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="text" class="form-control form-control-solid" @bind="Model.SchoolName" />
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("Chuyên ngành học")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="text" class="form-control form-control-solid" @bind="Model.AcademicDiscipline" />
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("Thời điểm bắt")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="date" class="form-control form-control-solid" @bind="Model.StartTime"  />
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("Thời điểm kết thúc")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="date" class="form-control form-control-solid" @bind="Model.EndTime"  max="@Model.EndTime"/>
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("Mô tả")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <textarea rows="3" type="text" class="form-control form-control-solid"  @bind="Model.Description" />
                </div>
            </div>
            <div class="text-center mt-3 mb-4">
                <button type="reset" data-dismiss="modal" class="btn btn-light me-3" @onclick="CancelModal">@L("Huỷ")</button>
                <button type="button" class="btn " style="background-color: #00b14f" @onclick="SaveExpWork">
                    <span style="color: white" class="indicator-label">@L("Lưu")</span>
                </button>
            </div>
        </div>
    </div>
</div>
