@inherits ModalBase

<div id="@ModalId" class="menu menu-box-modal rounded-m" data-menu-width="330">
    <div class="content">
        <div class="d-flex">
            <h1 class="mb-3">@L("Chi tiết câu hỏi ")</h1>
            <div class="ms-auto">
                <a class="close-menu" @onclick="Hide"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="input-style has-borders no-icon mb-4">
            <textarea id="form7" @bind="Model.Description" disabled style="height: 80px"></textarea>
        </div>
        <h5> @L("Ngày gửi")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.CreationTime" disabled>
        </div>
        <h5>   @L("Ngày trả lời")</h5>
        <div class="input-style has-borders no-icon validate-field mb-4 input-style-active">
            <input type="text" class="form-control validate-text" id="form1" @bind="Model.LastModificationTime" disabled>
        </div>
        <h5>   @L("Câu trả lời")</h5>
        <div class="input-style has-borders no-icon mb-4">
            <textarea id="form7" @bind="Model.Answer" disabled style="height: 80px"></textarea>
        </div>
        @* <div class="d-flex justify-content-center"> *@
            <a data-menu="modal-wizard-step-2" class="btn btn-full btn-m rounded-m border-blue-dark color-blue-dark bg-theme font-700 text-uppercase mt-4 mb-4 me-2 ms-2" @onclick="Hide">Đóng</a>
        @* </div> *@
    </div>
</div>
