@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/" + NavigationUrlConsts.NguoiTimViec)]



<div class="content mt-5"></div>
<!-- Tìm kiếm thông tin -->
@* <div class="content mt-n4  search-box search-header bg-theme card-style me-3 ms-3 mb-2" style="background-color:#FFF !important">
	<i class="fa fa-search" @onclick="RefeshList"></i>
	<input type="search" class="border-0" placeholder="Tìm kiếm thông tin">
	<a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a>
</div> *@
<div class="content mt-0">
    <a data-menu="menu-filter" @onclick="OpenFilter">
        <h4 class="text-uppercase color-highlight">
            <i class="fa font-14 fa-search color-yellow-dark px-2"></i>Bộ lọc nâng cao
        </h4>
    </a>
</div>

@* @if (IsJobAppCount == true)
{
    <div class="content mt-0">
        <h4 class="font-700">Đã tìm thấy @JobAppCount kết quả </h4>
    </div>
} *@
<div class="card card-style">
    <div class="content">

        @if (isError == true)
        {
            <div class="text-error">
                <h3>Không tìm thấy kết quả!!!</h3>
                <span class="mt-2">Thử tìm kiếm với từ khoá khác.</span>
            </div>
        }
        else
        {
            <Virtualize @ref="JobApplicationContainer" Context="job" ItemsProvider="@LoadJobApplication" ItemSize="20">
                <a href="javascript:;" @onclick="(() => ViewUser(job))">
                    <div class="d-flex">
                        <div>
                            <img src="@job.Candidate.AvatarUrl" class="me-3 rounded-circle shadow-l"
                                 width="100">
                        </div>
                        <div>
                            <h5 class="font-700 text-uppercase">@job.User.Name</h5>
                            <h1 class="font-700 font-15 line-height-m pb-2">@job.JobApplication.Positions.DisplayName</h1>
                            <span class="badge bg-green-dark text-uppercase font-12">
                                <i class="fa-solid fa-dollar-sign pe-1"></i>
                                @if (job.JobApplication.DesiredSalary.HasValue)
                                {
                                    <span>
                                        @{
                                            var minSalaryInMillion = Math.Truncate(job.JobApplication.DesiredSalary.Value / 1000000);
                                        }
                                        @minSalaryInMillion triệu
                                    </span>
                                }
                                else
                                {
                                    <span>Lương thoả thuận</span>
                                }
                            </span>
                            <span class="badge bg-gray-dark text-uppercase font-12">
                                <i class="fa-solid fa-graduation-cap pe-1"></i>
                                @job.JobApplication.Literacy.DisplayName
                            </span>
                            <span class="badge bg-teal-dark text-uppercase font-12">
                                <i class="fa-solid fa-comment pe-1"></i>
                                @job.JobApplication.Province.DisplayName
                            </span>
                        </div>
                    </div>
                </a>
                <div class="divider mt-3 mb-3"></div>
            </Virtualize>
        }
    </div>
</div>
<FilterModalNTV OnSave="RefeshList" @ref="FilterModalNTV"></FilterModalNTV>