@using Abp.UI;
@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/ThongTinNTV")]


<DatLichPVModal OnSave="RefeshList" @ref="datLichPVModal"></DatLichPVModal>

 @if (Model != null && Model.JobApplication != null)
{
            <div class="card card-style">
                <div class="card card-style mt-2 me-2 ms-2">
                    <img src="images/pictures/_bg-infinite.jpg" alt="img" class="img-fluid">
                </div>
                <div class="content position-relative" style="margin-top:-70px; z-index:2;">
                    <div class="d-flex mx-2">
                        <div class="me-3">
                            <img src="@Model.Photo" class="rounded-l shadow-xl" alt="img" width="100">
                        </div>
                        <div class="align-self-end">
                            <h4 class="font-24 mb-0">@Model.User.Name</h4>
                            <span><i class="fa fa-map-marker font-10 pe-2"></i><span class="font-12 opacity-70">@Model.Candidate.Address, @Model.DistrictName, @Model.ProvinceName</span></span>
                        </div>
                    </div>
                </div>
                <div class="divider mb-0"></div>
                <div class="content">
                    <div class="d-flex text-center">

                        <div class="m-auto">
                            @if (IsDefault1 == true)
                            {
                                <a href="javascript:;" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4" @onclick="(() => BookUser(Model))">
                                    Đặt lịch
                                </a>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <div class="card card-style mb-3">
                <div class="content mb-0">
                    <h1 class="font-24">Thông tin cá nhân</h1>
                    <div class="list-group list-custom-small pb-4 mb-2">
                        <div>
                            <span class="text-1">
                                Địa chỉ email:
                            </span>
                            <span style="float: right">@Model.User.EmailAddress</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Số điện thoại:
                            </span>
                            <span style="float: right">@Model.User.PhoneNumber</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Ngày sinh:
                            </span>
                            <span style="float: right">@Model.Candidate.DateOfBirth?.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Giới tính:
                            </span>
                            @if (Model.Candidate.Gender == BBK.SaaS.Mdls.Profile.Candidates.Dto.GenderEnum.Male)
                            {
                                <span style="float: right">Nam</span>

                            }
                            else if (Model.Candidate.Gender == BBK.SaaS.Mdls.Profile.Candidates.Dto.GenderEnum.Female)
                            {
                                <span style="float: right">Nữ</span>

                            }
                            else
                            {
                                <span style="float: right">Không xác định</span>

                            }
                            <div>
                                <span class="text-1">
                                    Tình trạng hôn nhân:
                                </span>
                                @if (Model.Candidate.Marital == true)
                                {
                                    <span style="float: right">Độc thân </span>

                                }
                                else
                                {
                                    <span style="float: right">Đã kết hôn </span>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card card-style mb-3">
                <div class="content mb-0">
                    <h1 class="font-24">Thông tin chung</h1>
                    <div class="list-group list-custom-small pb-4 mb-2">
                        <div>
                            <span class="text-1">
                                Cấp bậc:
                            </span>
                            <span style="float: right">@Model.Positions</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Mức lương mong muốn:
                            </span>
                            <span style="float: right">
                                @{
                                    var minSalaryInMillion = Math.Truncate(Model.JobApplication.DesiredSalary.Value / 1000000);
                                }
                                @minSalaryInMillion triệu
                            </span>
                        </div>
                        <div>
                            <span class="text-1">
                                Hình thức làm việc:
                            </span>
                            <span style="float: right">@Model.FormOfWork</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Bằng cấp:
                            </span>
                            <span style="float: right">@Model.Literacy</span>
                        </div>
                        <div>
                            <span class="text-1">
                                Mục tiêu tương lai:
                            </span>
                            <span style="float: right">@Model.JobApplication.Career</span>
                        </div>
                    </div>
                </div>
            </div>




            @if (Model.JobApplication.WorkExperiences != null && Model.JobApplication.WorkExperiences.Count > 0)
            {
                @if (IsExpView == false)
                {
                    <div class="card card-style mb-3 pb-3">
                        <div class="content">
                            <h1 class="font-24">Kinh nghiệm làm việc</h1>
                            <div class="list-group list-custom-small pb-4 mb-2">
                                <div>
                                    <span style="float: left" class="work-position">@Model.JobApplication.WorkExperiences.FirstOrDefault().Positions</span>
                                    <span style="float: right" class="start-end-date">
                                        @Model.JobApplication.WorkExperiences.FirstOrDefault().StartTime.ToString("MM/yyy")-@Model.JobApplication.WorkExperiences.FirstOrDefault().EndTime.ToString("MM/yyy")
                                    </span>
                                </div>
                                <div><span style="float: left" class="company-name">@Model.JobApplication.WorkExperiences.FirstOrDefault().CompanyName</span></div>
                                <div>
                                    <span class="text-1">
                                        Mô tả công việc:
                                    </span>
                                    <span style="float: right;  white-space: pre-line">@Model.JobApplication.WorkExperiences.FirstOrDefault().Description</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a @onclick="ViewAllExp" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4">Xem tất cả</a>
                }
                else
                {
                    <div class="card card-style mb-3 pb-3">
                        <div class="content">
                            <h1 class="font-24">Kinh nghiệm làm việc</h1>
                            @foreach (var workExperience in Model.JobApplication.WorkExperiences)
                            {
                                <div class="list-group list-custom-small pb-4 mb-2 exp-list">
                                    <div>
                                        <span style="float: left" class="work-position">@workExperience.Positions</span>
                                        <span style="float: right" class="start-end-date">
                                            @workExperience.StartTime.ToString("MM/yyy")-@workExperience.EndTime.ToString("MM/yyy")
                                        </span>
                                    </div>
                                    <div><span style="float: left" class="company-name">@workExperience.CompanyName</span></div>
                                    <div>
                                        <span class="text-1">
                                            Mô tả công việc:
                                        </span>
                                        <span style="float: right; white-space: pre-line">@workExperience.Description</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <a @onclick="CloseExpView" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4">Ẩn bớt</a>
                }

            }

            @if (Model.JobApplication.LearningProcess != null && Model.JobApplication.LearningProcess.Count > 0)
            {
                if (IsLearnView == false)
                {
                    <div class="card card-style mb-3 pb-3">
                        <div class="content">
                            <h1 class="font-24">Trình độ học vấn</h1>
                            <div class="list-group list-custom-small pb-4 mb-2">
                                <div>
                                    <span style="float: left" class="academic">
                                        @Model.JobApplication.LearningProcess.FirstOrDefault().AcademicDiscipline
                                    </span>
                                    <span style="float: right" class="start-end-date">
                                        @Model.JobApplication.LearningProcess.FirstOrDefault().StartTime.ToString("yyy")-@Model.JobApplication.LearningProcess.FirstOrDefault().EndTime.ToString("yyy")
                                    </span>
                                </div>
                                <div>
                                    <span style="float: left" class="school-name">@Model.JobApplication.LearningProcess.FirstOrDefault().SchoolName</span>
                                </div>
                                <div>
                                    <span class="text-1">
                                        Mô tả :
                                    </span>
                                    <span style="float: right; white-space: pre-line">@Model.JobApplication.LearningProcess.FirstOrDefault().Description</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a @onclick="ViewAllLearn" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4">Xem tất cả</a>

                }
                else
                {
                    <div class="card card-style mb-0 pb-3">
                        <div class="content">
                            <h1 class="font-24">Trình độ học vấn</h1>
                            @foreach (var learningprocess in Model.JobApplication.LearningProcess)
                            {
                                <div class="list-group list-custom-small pb-4 mb-2 learn-list">
                                    <div>
                                        <span style="float: left" class="academic">
                                            @learningprocess.AcademicDiscipline
                                        </span>
                                        <span style="float: right" class="start-end-date">
                                            @learningprocess.StartTime.ToString("yyy")-@learningprocess.EndTime.ToString("yyy")
                                        </span>
                                    </div>
                                    <div>
                                        <span style="float: left" class="school-name">@learningprocess.SchoolName</span>
                                    </div>
                                    <div>
                                        <span class="text-1">
                                            Mô tả :
                                        </span>
                                        <span style="float: right; white-space: pre-line">@learningprocess.Description</span>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <a @onclick="CloseLearnView" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4">Ẩn bớt</a>
                }


            }
}
else
{

}




