@using BBK.SaaS.Mdls.Cms.Introduces.Dto
@model IntroduceEditDto
@{
    Layout = null;
}
<div class="modal-body user-edit-modal">
    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="modal-header">
                <h2>Chi tiết liên kết giới thiệu</h2>
                <h5 class="modal-title"> </h5><button type="button" class="close" data-bs-dismiss="modal"
                                                      aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="row">
                <form name="EditIntroduceForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                    <div class="row">
                        <div class="mb-3">
                            <label for="Adress" class="form-label">Họ và tên</label>
                            <input id="Adress" type="text" name="FullName" value="@Model.FullName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="TypeInterview" class="form-label">Email</label>
                            <input id="Message" type="text" name="Email" value="@Model.Email" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="Message" class="form-label">Số điện thoạ</label>
                            <input type="text" name="Phone" value="@Model.Phone" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="Message" class="form-label">Nội dung</label>
                            <input id="Message" type="text" name="Description" value="@Model.Description" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="Message" class="form-label">Trạng thái</label>
                            <select required class="form-control" id="Status" name="Status" asp-for="Status" disabled>
                                <option value="" selected>Trạng thái</option>
                                <option value="1">Chờ xử lý</option>
                                <option value="2">Đã xử lý</option>
                                <option value="3">Không liên lạc được</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

