@using BBK.SaaS.Mdls.Cms.Configuration
@using BBK.SaaS.Web.Models.Cms.Articles

@model ListArticlesViewModel

@if (Model.ZoneName == PublicWidgetZones.CategoryArticlesRightTop || Model.ZoneName == PublicWidgetZones.ArticleDetailRightTop)
{
	<div class="row">
		<div class="col-md-12 mb-3">
			<h3>
				<i class="icofont icofont-newspaper"
				   Style="margin-right: 16px;"></i><b>Tin tức mới nhất</b>
			</h3>
		</div>

		@for (int i = 0; i < Model.Articles.Count; i++)
		{
			<div class="col-12 m-b-15">
				<div class="card h-100 m-b-0">
					<div class="blog-box blog-grid text-center">
						<a href="/@Model.Articles[i].Slug"><img class="img-fluid top-radius-blog" src="/file/get?c=@Model.Articles[i].PrimaryImageUrl" alt="@Model.Articles[i].Title"></a>
						<div class="blog-details-main p-t-10">
							<a href="/@Model.Articles[i].Slug" class=""><span class="f-w-700 m-l-10 m-r-10">@Model.Articles[i].Title</span></a>
							<p class="blog-bottom-details">
								@Model.Articles[i].ShortDesc
							</p>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
}
else
{
	<div class="row">
		<div class="col-md-12 mb-3">
			<h3>
				<i class="icofont icofont-newspaper"
				   Style="margin-right: 16px;"></i><b>Tin tức mới nhất</b>
			</h3>
		</div>

		@for (int i = 0; i < Model.Articles.Count; i++)
		{
			@* <div class="col-md-3 md-50 box-col-6">
	<div class="card border-0 bg-transparent shadow-0 shadow-none">
	<div class="blog-box blog-grid product-box">
	<div class="product-img">
	<a href="/@Model.Articles[i].Slug"><img class="img-fluid top-radius-blog" src="/file/get?c=@Model.Articles[i].PrimaryImageUrl" alt=""></a>
	</div>
	<div class="blog-details-main mt-3">
	<a href="/@Model.Articles[i].Slug" class=""><span class="f-w-700">@Model.Articles[i].Title</span></a>
	</div>
	</div>
	</div>
	</div> *@

			<div class="col-md-6 col-lg-4 col-xl-3 m-b-15">
				<div class="card h-100 m-b-0">
					<div class="blog-box blog-grid text-center">
						<a href="/@Model.Articles[i].Slug"><img class="img-fluid top-radius-blog" src="/file/get?c=@Model.Articles[i].PrimaryImageUrl" alt="@Model.Articles[i].Title"></a>
						<div class="blog-details-main p-t-10">
							@* <ul class="blog-social">
					<li>9 April 2023</li>
					<li>by: Admin</li>
					<li>0 Hits</li>
					</ul>
					<hr>*@
							<a href="/@Model.Articles[i].Slug" class=""><span class="f-w-700 m-l-10 m-r-10">@Model.Articles[i].Title</span></a>
							<p class="blog-bottom-details">
								@Model.Articles[i].ShortDesc
							</p>
						</div>
					</div>
				</div>
			</div>
		}

	</div>

}
