@using Abp.UI;
@using BBK.SaaS.Services.Navigation
@inherits SaaSMainLayoutPageComponentBase
@attribute [Route("/ThongTinVTN")]



<div class="card card-style">
    <div class="card card-style mt-2 me-2 ms-2">
        <img src="images/pictures//_bg-infinite.jpg" alt="img" class="img-fluid">
    </div>
    <div class="content position-relative" style="margin-top:-70px; z-index:2;">
        <div class="d-flex mx-2">
            <div class="me-3">
                <img src="@Model.AvatarUrl" class="rounded-l shadow-xl" alt="img" width="100" height="100">
            </div>
            <div class="align-self-end">
                <h4 class="font-24 mb-0">@Model.Title</h4>
                <span><i class="fa fa-map-marker font-10 pe-2"></i><span class="font-12 opacity-70">@Model.CompanyName</span></span>
            </div>
        </div>
    </div>
    <div class="divider mb-0"></div>
    <div class="content">
        <div class="d-flex text-center">

            <div class="m-auto">
                @* @if (IsDefault1 == true)
                { *@
                <a href="javascript:;" class="btn btn-m btn-full bg-highlight rounded-m text-uppercase font-700 under-slider-btn mx-5 mb-4" @onclick="(()=>UngTuyen(Model))">
                    Ứng tuyển
                </a>
                @* } *@
            </div>

        </div>
    </div>
</div>
<div class="card card-style">
    <div class="content">
        <h3 class="mb-0">Thành tích công ty</h3>
        <div class="d-flex text-center">
            <div class="m-auto">
                <span class="icon icon-xxl bg-yellow-dark rounded-m"><i class="fa fa-star font-24"></i></span>
                <p class="font-12 line-height-xs pt-2 font-500">
                    @{
                        var minSalaryInMillion = Math.Truncate(Model.MinSalary / 1000000);
                        var maxSalaryInMillion = Math.Truncate(Model.MaxSalary / 1000000);
                    }
                    @minSalaryInMillion - @maxSalaryInMillion triệu<br>
                </p>
            </div>
            <div class="m-auto">
                <span class="icon icon-xxl bg-green-dark rounded-m"><i class="fa fa-eye font-24"></i></span>
                <p class="font-12 line-height-xs pt-2 font-500">@Model.AddressForWork <br></p>
            </div>
            <div class="m-auto">
                <span class="icon icon-xxl bg-red-dark rounded-m"><i class="fa fa-trophy font-24"></i></span>
                <p class="font-12 line-height-xs pt-2 font-500">@Model.Experience <br></p>
            </div>
        </div>
    </div>
</div>

<div class="card card-style">
    <div class="content">
        <h2 class="vcard-title color-highlight mb-1">Thông tin chung</h2>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Kinh nghiệm</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.Experience</span>
        </div>
        @*  <div class="ms-auto">
        <i class="fa fa-phone color-theme opacity-30 pt-3 mt-1"></i>
        </div> *@
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Hình thức làm việc</span>
            <span class="default-link d-block color-theme font-15 font-400"> @Model.FormOfWorkName</span>
        </div>
        @*  <div class="ms-auto">
        <i class="fa fa-calendar color-theme opacity-30 pt-3 mt-1"></i>
        </div> *@
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Số lượng tuyển</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.NumberOfRecruits người</span>
        </div>
        @*  <div class="ms-auto">
        <i class="fa fa-map-marker color-theme opacity-30 pt-4 mt-3"></i>
        </div> *@
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Giới tính</span>
            @if (Model.GenderRequired == 0)
            {
                <span class="default-link d-block color-theme font-15 font-400">Không yêu cầu</span>

            }
            else if (Model.GenderRequired == 1)
            {
                <span class="default-link d-block color-theme font-15 font-400">Nam</span>
            }
            else
            {
                <span class="default-link d-block color-theme font-15 font-400">Nữ</span>
            }

        </div>
        @*   <div class="ms-auto">
        <i class="fa fa-globe color-theme opacity-30 pt-3 mt-1"></i>
        </div> *@
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Hạn nộp hồ sơ</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.DeadlineSubmission.ToString("dd/MM/yyyy")</span>
        </div>
        @*  <div class="ms-auto">
        <i class="fa fa-map-marker color-theme opacity-30 pt-4 mt-3"></i>
        </div> *@
    </div>
</div>
<div class="card card-style">
    <div class="content">
        <h2 class="vcard-title color-highlight mb-1">Chi tiết tuyển dụng</h2>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Ngành nghề</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.JobCatUnitName</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Vị trí làm việc</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.Title</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Làm việc tại</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.AddressName</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Kỹ năng cần thiết</span>
            <span class="default-link d-block color-theme font-15 font-400">@Model.NecessarySkills</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Mô tả công việc</span>
            <span class="default-link d-block color-theme font-15 font-400"> @htmlContent1</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Yêu cầu ứng viên</span>
            <span class="default-link d-block color-theme font-15 font-400"> @htmlContent2</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Quyền lợi</span>
            <span class="default-link d-block color-theme font-15 font-400"> @htmlContent3</span>
        </div>
    </div>
</div>
<div class="card card-style">
    <div class="content">
        <h2 class="vcard-title color-highlight mb-1">Thông tin người liên hệ</h2>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Họ và tên</span>
            <span class="default-link d-block color-theme font-15 font-400"> @Model.FullName</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Email</span>
            <span class="default-link d-block color-theme font-15 font-400"> @Model.FullName</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Số điện thoại</span>
            <span class="default-link d-block color-theme font-15 font-400"> @Model.PhoneNumber</span>
        </div>
        <div class="divider my-3"></div>
        <div>
            <span class="font-11 d-block mb-n2 opacity-50 color-theme">Địa chỉ liên hệ</span>
            <span class="default-link d-block color-theme font-15 font-400"> @Model.Address</span>
        </div>
        <div class="divider my-3"></div>
    </div>
</div>
<UngtuyenModal @ref="ungtuyenModal"></UngtuyenModal>

