@inherits ModalBase
<div class="modal fade" id="@ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded">
            <div class="modal-body scroll-y pt-10 pb-10">
                @if (_isInitialized)
                {
                    <div class="mb-13 text-center">
                        <h1 class="mb-3">@L("Ứng tuyển công việc")</h1>
                    </div>
                    <div class="card shadow-sm p-0 m-0">
                        <div class="card-body d-flex flex-column py-10 m-0">
                            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container ">
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                    <span class="required">
                                        @L("Chọn hồ sơ phỏng vấn")
                                    </span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                                </label>
                                <select required="required" class="form-control" @bind="Model.JobApplicationId" >
                                    <option value="0">@L("Chọn hồ ứng tuyển")</option>
                                    @foreach (var item in JobApplicationEditDto)
                                    {
                                        <option value="@item.Id">
                                            @item.Title
                                        </option>
                                    }</select>
                            </div>
                            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container min-w-90">
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                    <span class="required">
                                        @L("Nội dung gửi đến nhà tuyển dụng")
                                    </span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                                </label>
                                <textarea rows="3" class="form-control form-control-solid" @bind="Model.Content"/>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-8">
                        <button type="reset" data-dismiss="modal" class="btn btn-light me-3" @onclick="Hide">@L("Đóng")</button>
                        <button type="button" class="btn" style="background-color: #00b14f;" @onclick="SaveBookJob">
                            <span class="indicator-label" style="color: white">@L("Ứng tuyển")</span>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
